<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniv_h5_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,72},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{6,6}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>anniv_h5_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{22,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>anniv_h5_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,104},{22,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{22,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>anniv_h5_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{28,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>anniv_h5_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{36,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{36,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>anniv_h5_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{38,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>anniv_h5_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>anniv_h5_fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anniv_h5_fire.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb9deb38572cb5fe6a0f983d7a3cfc9c$</string>
            <key>textureFileName</key>
            <string>anniv_h5_fire.png</string>
        </dict>
    </dict>
</plist>
