<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniv_h5_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>anniv_h5_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{45,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{45,43}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>anniv_h5_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,139},{45,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,43}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>anniv_h5_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{45,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,43}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>anniv_h5_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,94},{45,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,43}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>anniv_h5_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{45,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>anniv_h5_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,47},{45,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>anniv_h5_light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,45}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anniv_h5_light.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7486e5d1e1913dc729a7d638f23a77$</string>
            <key>textureFileName</key>
            <string>anniv_h5_light.png</string>
        </dict>
    </dict>
</plist>
