<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_table_congratulation_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,478},{78,94}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,66},{78,94}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,878},{78,120}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,10},{78,120}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,584},{80,132}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,8},{80,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{82,142}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{82,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,430},{78,152}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{78,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,722},{78,154}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,8},{78,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,504},{78,158}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,11},{78,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,722},{80,162}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,12},{80,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,430},{80,162}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{80,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,420},{80,164}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,10},{80,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,258},{80,166}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,8},{80,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,594},{126,114}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,46},{126,114}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,84},{80,168}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,6},{80,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{80,168}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,6},{80,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,252},{80,166}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,8},{80,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,340},{80,164}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,10},{80,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,334},{80,164}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,10},{80,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,722},{80,162}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{80,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,722},{80,162}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{80,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,260},{80,164}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,10},{80,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,178},{80,166}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,8},{80,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{80,168}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,6},{80,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,584},{128,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,43},{128,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{80,168}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,6},{80,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,178},{80,166}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,8},{80,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,260},{80,164}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,10},{80,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,558},{80,162}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{80,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,502},{80,162}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,12},{80,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,422},{80,162}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,12},{80,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,338},{80,164}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,10},{80,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,256},{80,166}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,8},{80,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{86,168}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,6},{86,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,168}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,6},{86,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,878},{138,122}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,41},{138,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,84},{86,166}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,8},{86,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,90},{86,166}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,8},{86,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,312},{86,164}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,10},{86,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,416},{86,162}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{86,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,342},{86,162}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{86,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,342},{86,162}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{86,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,146},{86,164}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,10},{86,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{86,166}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,8},{86,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{86,168}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{86,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{86,168}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{86,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,584},{138,134}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{138,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{86,168}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{86,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{86,168}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{86,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{86,168}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{86,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{86,168}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{86,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,168}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{86,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,172},{84,166}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,7},{84,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,166},{84,166}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,7},{84,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,170},{84,166}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,7},{84,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,84},{84,166}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,6},{84,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,886},{132,150}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,15},{132,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,722},{130,154}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,11},{130,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,886},{130,154}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,12},{130,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>vip_table_congratulation_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,504},{78,148}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,12},{78,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_table_congratulation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f46192e71d2b5adf1f292692412008f9$</string>
            <key>textureFileName</key>
            <string>vip_table_congratulation.png</string>
        </dict>
    </dict>
</plist>
