<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>king_sabre_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{116,130}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{116,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{112,140}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{112,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,132},{108,136}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{108,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,114},{138,130}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{138,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{140,130}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{140,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,116},{108,136}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{108,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{110,140}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{110,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,140}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{128,140}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,258},{112,132}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{112,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,344},{128,130}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{128,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,242},{116,132}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{116,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,246},{130,130}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{130,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,388},{110,130}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{110,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,272},{114,130}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{114,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,488},{126,130}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,372},{126,130}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,260},{126,130}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,144},{126,130}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{126,130}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,506},{126,130}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,474},{126,130}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,634},{116,130}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{116,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,378},{126,130}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,360},{126,130}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,226},{116,132}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{116,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,602},{118,130}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{118,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,136},{122,132}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{122,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,134},{122,134}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{122,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{132,140}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_sabre_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,140}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{144,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>king_sabre.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0241d4306af005966de6e1f7b213d756$</string>
            <key>textureFileName</key>
            <string>king_sabre.png</string>
        </dict>
    </dict>
</plist>
