<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wabikong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,151},{147,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{147,153}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>wabikong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{149,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{149,153}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>wabikong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{147,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{147,153}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>wabikong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,312},{147,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{147,153}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>wabikong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{147,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{147,153}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
            <key>wabikong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,153}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{149,153}}</string>
                <key>sourceSize</key>
                <string>{157,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wabikong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdd3fd61ea52c56dd001a7bd2f0d3504$</string>
            <key>textureFileName</key>
            <string>wabikong.png</string>
        </dict>
    </dict>
</plist>
