<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>king_like_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,320},{106,140}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{106,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,320},{106,140}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{106,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,324},{106,140}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{106,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,214},{104,142}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{104,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,318},{102,142}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{102,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,144}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{104,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{106,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{106,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,106},{106,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{106,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{106,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{102,144}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{102,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,216},{102,142}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{102,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,110},{104,142}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{104,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,108},{106,142}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{106,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,320},{106,140}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{106,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,110},{104,142}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{104,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,214},{102,142}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{102,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,878},{104,144}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{104,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{106,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{106,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,106},{106,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{106,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{106,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{102,144}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{102,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,292},{102,142}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{102,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,216},{102,142}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{102,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{106,142}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{106,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,216},{106,140}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{106,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{104,144}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{104,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{106,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{106,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{106,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{106,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,144}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,5},{106,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{102,144}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{102,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_like_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,148},{102,142}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{102,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>king_like.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd37d5a1c2510c6976b949a9943dbce$</string>
            <key>textureFileName</key>
            <string>king_like.png</string>
        </dict>
    </dict>
</plist>
