<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_table_blessing_kiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,748},{134,120}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{134,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{108,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,74},{108,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,884},{122,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{122,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,884},{122,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{122,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,884},{122,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{122,108}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,884},{132,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{132,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,884},{132,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{132,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,884},{132,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,64},{132,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,768},{192,158}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{192,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,768},{192,158}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{192,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,768},{192,158}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{192,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,748},{134,120}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{134,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,768},{192,158}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{192,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,564},{182,158}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{182,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,564},{182,158}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{182,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,564},{182,158}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{182,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,564},{182,158}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{182,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,564},{182,158}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{182,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,564},{182,158}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{182,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,564},{182,158}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{182,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,394},{168,158}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{168,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,394},{168,158}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{168,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,748},{134,120}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{134,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,394},{168,158}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{168,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,394},{168,158}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{168,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,394},{168,158}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{168,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,394},{168,158}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{168,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,394},{168,158}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{168,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,394},{168,158}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,41},{168,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,394},{148,158}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{148,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,394},{148,158}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{148,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,394},{148,158}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{148,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,394},{148,158}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,41},{148,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,748},{134,120}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{134,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,568},{198,158}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{198,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,568},{198,158}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{198,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,568},{198,158}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{198,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,774},{198,158}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{198,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,774},{198,158}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{198,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,774},{198,158}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{198,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{198,158}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{198,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{198,158}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{198,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{198,158}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,41},{198,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{204,170}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{204,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,200},{134,120}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{134,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{204,170}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{204,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{204,170}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{204,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{204,170}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{204,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{214,186}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{214,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{214,186}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{214,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{214,186}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{214,186}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,200}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{236,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,200}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{236,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,200}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{236,200}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,200},{218,192}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{218,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,200},{134,120}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{134,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,200},{218,192}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{218,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,200},{218,192}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{218,192}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{208,174}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{208,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{208,174}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{208,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{208,174}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{208,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,200},{134,120}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{134,120}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{228,196}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{228,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,112},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,112},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{108,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,74},{108,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>vip_table_blessing_kiss_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{108,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,74},{108,90}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_table_blessing_kiss.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6efbb2f9fcbce245103f4e630601a5e5$</string>
            <key>textureFileName</key>
            <string>vip_table_blessing_kiss.png</string>
        </dict>
    </dict>
</plist>
