<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HBL03_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1370},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1142},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1142},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1142},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,914},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,914},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,914},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,686},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,686},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,686},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,458},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,458},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,458},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,230},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,230},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,230},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1370},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1370},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
            <key>HBL03_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1370},{226,236}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{226,236}}</string>
                <key>sourceSize</key>
                <string>{242,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCP11.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fec3a7fa14308ca3c9af2957cd5da6e5$</string>
            <key>textureFileName</key>
            <string>MCP11.png</string>
        </dict>
    </dict>
</plist>
