<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>joker_grin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1304},{110,130}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,59},{110,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1192},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1584},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1022},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1022},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1022},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1022},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1192},{110,130}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,59},{110,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,852},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,852},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,852},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,852},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,682},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,682},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,682},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,682},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1192},{110,130}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,59},{110,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,512},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,512},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,512},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,512},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,342},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,342},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,342},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,342},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1192},{110,130}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,59},{110,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,172},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,172},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,172},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,172},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1192},{116,130}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,59},{116,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1192},{122,130}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,59},{122,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>joker_grin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,168}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{194,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joker_grin.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4ed3565ab992054eb12ec5eb4d8c086$</string>
            <key>textureFileName</key>
            <string>joker_grin.png</string>
        </dict>
    </dict>
</plist>
