<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,434},{118,76}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,76},{118,76}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{100,42}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,112},{100,42}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,536},{86,42}}</string>
                <key>offset</key>
                <string>{-12,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,112},{86,42}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,414},{72,42}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,112},{72,42}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,370},{72,42}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,112},{72,42}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,370},{72,42}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,112},{72,42}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,370},{72,42}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,112},{72,42}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,414},{70,42}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,112},{70,42}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,434},{100,44}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,110},{100,44}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,364},{106,74}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,80},{106,74}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,288},{106,74}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,80},{106,74}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,400},{136,78}}</string>
                <key>offset</key>
                <string>{6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,77},{136,78}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,512},{116,76}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,80},{116,76}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,116},{142,112}}</string>
                <key>offset</key>
                <string>{12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,52},{142,112}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{142,112}}</string>
                <key>offset</key>
                <string>{12,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,52},{142,112}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,284},{192,114}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{192,114}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,148},{184,114}}</string>
                <key>offset</key>
                <string>{15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,50},{184,114}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,136}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{228,136}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{220,144}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{220,144}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{208,160}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{208,160}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{214,142}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{214,142}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{214,146}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{214,146}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,364},{120,64}}</string>
                <key>offset</key>
                <string>{6,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,91},{120,64}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,146},{204,154}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{204,154}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,164},{204,118}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{204,118}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,264},{164,104}}</string>
                <key>offset</key>
                <string>{19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,53},{164,104}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,328},{164,104}}</string>
                <key>offset</key>
                <string>{19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,53},{164,104}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,302},{142,96}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{142,96}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,230},{142,96}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{142,96}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,400},{136,94}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,55},{136,94}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,480},{132,94}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,55},{132,94}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,624},{104,96}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,54},{104,96}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,590},{108,96}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{108,96}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,302},{102,52}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,104},{102,52}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{106,94}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,54},{106,94}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,502},{100,44}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,104},{100,44}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,580},{80,42}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,106},{80,42}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,256},{106,46}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,110},{106,46}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,148},{106,46}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,108},{106,46}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,400},{100,44}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,110},{100,44}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,406},{100,44}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,110},{100,44}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
            <key>shark_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{100,42}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,112},{100,42}}</string>
                <key>sourceSize</key>
                <string>{264,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shark.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a8e4d633c733e348092f4033c1b711$</string>
            <key>textureFileName</key>
            <string>shark.png</string>
        </dict>
    </dict>
</plist>
