<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CPLL01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,914},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,922},{568,116}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,45},{568,116}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,544},{560,128}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,51},{560,128}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1118},{528,132}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,46},{528,132}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1106},{524,154}}</string>
                <key>offset</key>
                <string>{35,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,47},{524,154}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{540,160}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,48},{540,160}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{546,156}}</string>
                <key>offset</key>
                <string>{27,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,58},{546,156}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,922},{562,144}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,70},{562,144}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1488},{554,144}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,70},{554,144}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1492},{554,144}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,67},{554,144}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,922},{564,138}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,69},{564,138}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,338},{574,148}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,60},{574,148}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{580,152}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,55},{580,152}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,338},{582,162}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,45},{582,162}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{590,166}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,41},{590,166}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,166}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,41},{602,166}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{604,152}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{604,152}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,922},{594,138}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,41},{594,138}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,338},{582,138}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,43},{582,138}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,550},{566,132}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{566,132}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1488},{558,134}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,45},{558,134}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1518},{528,132}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,46},{528,132}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{504,124}}</string>
                <key>offset</key>
                <string>{24,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,48},{504,124}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
            <key>CPLL01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,914},{1,1}}</string>
                <key>offset</key>
                <string>{-319.5,127.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{640,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MCP03.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8bd4439be19e83921590c9790c321b6$</string>
            <key>textureFileName</key>
            <string>MCP03.png</string>
        </dict>
    </dict>
</plist>
