<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>football_catch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,528},{134,144}}</string>
                <key>offset</key>
                <string>{-23,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{134,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,846},{126,148}}</string>
                <key>offset</key>
                <string>{-27,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{126,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,696},{126,148}}</string>
                <key>offset</key>
                <string>{-28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{126,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,546},{124,150}}</string>
                <key>offset</key>
                <string>{-28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{124,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,246},{124,150}}</string>
                <key>offset</key>
                <string>{-29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{124,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,546},{122,150}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{122,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,254},{122,152}}</string>
                <key>offset</key>
                <string>{-30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{122,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,254},{118,152}}</string>
                <key>offset</key>
                <string>{-31,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{118,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,128},{116,154}}</string>
                <key>offset</key>
                <string>{-32,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{116,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{118,156}}</string>
                <key>offset</key>
                <string>{-32,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{118,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{124,158}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{124,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,382},{134,144}}</string>
                <key>offset</key>
                <string>{-22,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{134,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,122},{130,154}}</string>
                <key>offset</key>
                <string>{-19,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{130,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,272},{128,142}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{128,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{180,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{180,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{180,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{180,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{180,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{176,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{176,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,548},{170,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{170,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,720},{164,152}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{164,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,730},{176,144}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,34},{176,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,408},{136,144}}</string>
                <key>offset</key>
                <string>{-23,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{136,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{162,150}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{162,150}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,886},{146,136}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{146,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,402},{136,136}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{136,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,408},{134,138}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{134,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,540},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,540},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,540},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,540},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,540},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,540},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,136},{134,144}}</string>
                <key>offset</key>
                <string>{-23,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{134,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,540},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,540},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,392},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,282},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,154},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,154},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,272},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,908},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,908},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{108,126}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{108,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,398},{134,146}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{134,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{132,146}}</string>
                <key>offset</key>
                <string>{-25,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{132,146}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,698},{130,148}}</string>
                <key>offset</key>
                <string>{-25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,848},{128,148}}</string>
                <key>offset</key>
                <string>{-26,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{128,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_catch_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,546},{128,148}}</string>
                <key>offset</key>
                <string>{-27,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{128,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>football_catch.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:776e236a6e4fae413eb2ec486c71b1a8$</string>
            <key>textureFileName</key>
            <string>football_catch.png</string>
        </dict>
    </dict>
</plist>
