<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FWPP01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1012},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{38,38}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,79},{38,38}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,924},{60,62}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,66},{60,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,924},{80,86}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,54},{80,86}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{98,104}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,45},{98,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,846},{112,122}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,36},{112,122}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,718},{126,136}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,30},{126,136}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,576},{140,150}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,24},{140,150}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,414},{150,160}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{150,160}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,800},{158,172}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,15},{158,172}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,414},{168,180}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,13},{168,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,610},{174,188}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{174,188}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,818},{182,196}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{182,196}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,614},{186,202}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{186,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,828},{190,208}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{190,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,614},{194,212}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{194,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,416},{196,216}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{196,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,210},{200,220}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{200,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,210},{204,224}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{204,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{206,226}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{206,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,230}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{204,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{204,228}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{204,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,208},{204,226}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{204,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{204,226}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{204,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{204,228}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{204,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{206,226}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{206,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{204,228}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{204,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>FWPP01_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,412},{196,220}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{196,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VFX06.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fbabf355c67e14e65d6da3399f67a54$</string>
            <key>textureFileName</key>
            <string>VFX06.png</string>
        </dict>
    </dict>
</plist>
