<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PPC01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,198},{26,28}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,93},{26,28}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,340},{46,44}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,82},{46,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,340},{60,58}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,75},{60,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,272},{70,66}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,71},{70,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,196},{82,74}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,65},{82,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,110},{92,84}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,59},{92,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{106,98}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,52},{106,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,528},{126,110}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,43},{126,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,636},{134,116}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,40},{134,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,528},{146,126}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,35},{146,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,548},{154,134}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,30},{154,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,498},{162,136}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,29},{162,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,400},{170,144}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{170,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,372},{176,154}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{176,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{182,154}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{182,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,386},{188,160}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{188,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{194,166}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{194,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{198,168}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{198,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,192},{212,178}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{212,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,188},{218,182}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{218,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{224,184}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{224,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{226,188}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{226,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{228,190}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{228,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,194}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{232,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,194},{190,206}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,31},{190,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>PPC01_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,372},{190,124}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{190,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VFX02.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2cd811f2e2c0e91842e359b374076f9$</string>
            <key>textureFileName</key>
            <string>VFX02.png</string>
        </dict>
    </dict>
</plist>
