<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FO01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,944},{40,38}}</string>
                <key>offset</key>
                <string>{69,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,55},{40,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,944},{50,42}}</string>
                <key>offset</key>
                <string>{65,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,51},{50,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,946},{60,46}}</string>
                <key>offset</key>
                <string>{59,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,47},{60,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,946},{82,62}}</string>
                <key>offset</key>
                <string>{46,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,37},{82,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{94,70}}</string>
                <key>offset</key>
                <string>{42,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,35},{94,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,928},{116,92}}</string>
                <key>offset</key>
                <string>{29,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,29},{116,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,430},{124,98}}</string>
                <key>offset</key>
                <string>{25,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,30},{124,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,530},{132,102}}</string>
                <key>offset</key>
                <string>{22,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,32},{132,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,506},{144,102}}</string>
                <key>offset</key>
                <string>{15,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,24},{144,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,350},{154,118}}</string>
                <key>offset</key>
                <string>{10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,19},{154,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,664},{150,130}}</string>
                <key>offset</key>
                <string>{13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,15},{150,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,696},{178,148}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,12},{178,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,182},{198,166}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{198,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,448},{214,174}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{214,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{198,178}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{198,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,796},{184,190}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{184,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{196,222}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{196,222}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{206,234}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{206,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,242}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{216,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{216,214}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{216,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,350},{168,194}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{168,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,220},{176,208}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{176,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,710},{190,216}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{190,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,482},{194,226}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{194,226}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{200,230}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{200,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,246},{182,224}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,27},{182,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{188,230}}</string>
                <key>offset</key>
                <string>{-24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{188,230}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{136,208}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,24},{136,208}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,226},{132,220}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,24},{132,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,714},{154,228}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,28},{154,228}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FO01_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,520},{174,192}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{174,192}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VFX01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5532b8ffc53334c0d9a36158fb61851b$</string>
            <key>textureFileName</key>
            <string>VFX01.png</string>
        </dict>
    </dict>
</plist>
