<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_break_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{68,113}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,113}}</string>
                <key>sourceSize</key>
                <string>{86,125}</string>
            </dict>
            <key>card_break_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{68,125}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,125}}</string>
                <key>sourceSize</key>
                <string>{86,125}</string>
            </dict>
            <key>card_break_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{84,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,125}}</string>
                <key>sourceSize</key>
                <string>{86,125}</string>
            </dict>
            <key>card_break_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,166},{76,125}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,125}}</string>
                <key>sourceSize</key>
                <string>{86,125}</string>
            </dict>
            <key>card_break_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,88},{76,125}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,125}}</string>
                <key>sourceSize</key>
                <string>{86,125}</string>
            </dict>
            <key>card_break_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{84,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,125}}</string>
                <key>sourceSize</key>
                <string>{86,125}</string>
            </dict>
            <key>card_break_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,125}}</string>
                <key>sourceSize</key>
                <string>{86,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_break_animation.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58cf500d53dd1e2c99dbbb3b1cc3b41e$</string>
            <key>textureFileName</key>
            <string>card_break_animation.png</string>
        </dict>
    </dict>
</plist>
