<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>football_hand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{68,134}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{68,134}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1036},{158,164}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{158,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{162,160}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{162,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1046},{164,156}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{164,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{162,158}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{162,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1038},{162,162}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{162,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1200},{160,162}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{160,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1196},{160,162}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{160,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1352},{160,158}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{160,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{160,152}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{160,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1038},{160,162}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{160,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1204},{130,160}}</string>
                <key>offset</key>
                <string>{-18,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{130,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,882},{160,164}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{160,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,882},{162,164}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{162,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,874},{162,164}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{162,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,872},{162,164}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{162,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,708},{162,170}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{162,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,358},{174,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,530},{174,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,356},{174,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{174,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,704},{174,166}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1358},{128,152}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{128,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{174,172}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{174,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,532},{174,178}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{174,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,182},{174,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{174,164}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{174,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,872},{174,164}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,708},{174,164}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{174,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{174,164}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,534},{174,168}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,168}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,706},{174,174}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{174,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1362},{128,148}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{128,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,532},{174,178}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,354},{174,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,180},{174,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,358},{172,180}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{172,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{172,180}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{172,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,178},{174,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{174,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{176,180}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{176,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{178,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{178,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{180,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{180,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1350},{132,142}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{132,142}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,174}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{180,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1336},{138,154}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{138,154}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1204},{144,158}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{144,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1202},{148,162}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{148,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_hand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1048},{154,164}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{154,164}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>football_hand.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84ab00e6ab19ed0da3e3f101b13d4e7a$</string>
            <key>textureFileName</key>
            <string>football_hand.png</string>
        </dict>
    </dict>
</plist>
