<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TOG6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,428},{60,55}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,222},{60,55}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,428},{126,121}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,184},{126,121}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,610},{216,219}}</string>
                <key>offset</key>
                <string>{32,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,128},{216,219}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1306},{272,283}}</string>
                <key>offset</key>
                <string>{39,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,91},{272,283}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1659},{318,327}}</string>
                <key>offset</key>
                <string>{39,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,66},{318,327}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1615},{336,345}}</string>
                <key>offset</key>
                <string>{39,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,55},{336,345}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1306},{362,307}}</string>
                <key>offset</key>
                <string>{37,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,105},{362,307}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{364,315}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,89},{364,315}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,610},{374,327}}</string>
                <key>offset</key>
                <string>{22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,84},{374,327}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{356,349}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,74},{356,349}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,939},{372,365}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,66},{372,365}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{384,379}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,60},{384,379}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{390,291}}</string>
                <key>offset</key>
                <string>{5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,152},{390,291}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,311},{394,297}}</string>
                <key>offset</key>
                <string>{6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,150},{394,297}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{408,307}}</string>
                <key>offset</key>
                <string>{6,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,148},{408,307}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,313}}</string>
                <key>offset</key>
                <string>{6,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,147},{414,313}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1580},{280,315}}</string>
                <key>offset</key>
                <string>{-62,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,147},{280,315}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,224},{108,191}}</string>
                <key>offset</key>
                <string>{26,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,224},{108,191}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,114},{108,191}}</string>
                <key>offset</key>
                <string>{25,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,226},{108,191}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{110,191}}</string>
                <key>offset</key>
                <string>{25,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,229},{110,191}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,334},{92,163}}</string>
                <key>offset</key>
                <string>{34,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,259},{92,163}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
            <key>TOG6_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,311},{2,13}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,259},{2,13}}</string>
                <key>sourceSize</key>
                <string>{512,497}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L007.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d49c2a32672b80b7dcb3f579a4ebdfb$</string>
            <key>textureFileName</key>
            <string>L007.png</string>
        </dict>
    </dict>
</plist>
