<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TTF7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1137},{1,1}}</string>
                <key>offset</key>
                <string>{-287,223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1193},{57,103}}</string>
                <key>offset</key>
                <string>{-209,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,162},{57,103}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,243},{91,137}}</string>
                <key>offset</key>
                <string>{-183,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,147},{91,137}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1895},{139,181}}</string>
                <key>offset</key>
                <string>{-151,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,129},{139,181}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1858},{169,215}}</string>
                <key>offset</key>
                <string>{-128,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,112},{169,215}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,2},{197,239}}</string>
                <key>offset</key>
                <string>{-111,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,102},{197,239}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1611},{245,261}}</string>
                <key>offset</key>
                <string>{-106,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,92},{245,261}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1332},{261,277}}</string>
                <key>offset</key>
                <string>{-92,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,85},{261,277}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1759},{281,289}}</string>
                <key>offset</key>
                <string>{-80,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,80},{281,289}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1029},{307,301}}</string>
                <key>offset</key>
                <string>{-74,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,74},{307,301}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,722},{305,309}}</string>
                <key>offset</key>
                <string>{-58,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,71},{305,309}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1436},{321,319}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,66},{321,319}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1105},{329,329}}</string>
                <key>offset</key>
                <string>{-43,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,58},{329,329}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,379},{341,337}}</string>
                <key>offset</key>
                <string>{-35,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,52},{341,337}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,758},{361,345}}</string>
                <key>offset</key>
                <string>{-22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,47},{361,345}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,828},{391,357}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,41},{391,357}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1630},{405,363}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,38},{405,363}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,824},{417,367}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,36},{417,367}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1630},{427,371}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,34},{427,371}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1193},{435,373}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,33},{435,373}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,383},{443,377}}</string>
                <key>offset</key>
                <string>{21,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,31},{443,377}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{449,377}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,31},{449,377}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{457,379}}</string>
                <key>offset</key>
                <string>{27,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,30},{457,379}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,379},{439,377}}</string>
                <key>offset</key>
                <string>{39,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,30},{439,377}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1187},{441,377}}</string>
                <key>offset</key>
                <string>{41,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,30},{441,377}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{443,377}}</string>
                <key>offset</key>
                <string>{42,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,31},{443,377}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{443,377}}</string>
                <key>offset</key>
                <string>{41,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,31},{443,377}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,379},{443,375}}</string>
                <key>offset</key>
                <string>{42,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,33},{443,375}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,2},{445,375}}</string>
                <key>offset</key>
                <string>{43,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,32},{445,375}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{447,375}}</string>
                <key>offset</key>
                <string>{44,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,32},{447,375}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{449,373}}</string>
                <key>offset</key>
                <string>{44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,32},{449,373}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
            <key>TTF7_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{449,373}}</string>
                <key>offset</key>
                <string>{44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,32},{449,373}}</string>
                <key>sourceSize</key>
                <string>{575,447}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton07.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d9023d2d619a6e58d8522be92d8b08$</string>
            <key>textureFileName</key>
            <string>Ton07.png</string>
        </dict>
    </dict>
</plist>
