<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TTF6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1704},{168,129}}</string>
                <key>offset</key>
                <string>{-14,-264}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,572},{168,129}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,602},{168,701}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,0},{168,701}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,432},{168,701}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,0},{168,701}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,232},{198,701}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,0},{198,701}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{228,701}}</string>
                <key>offset</key>
                <string>{-24,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{228,701}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,741},{238,737}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{238,737}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,737}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{238,737}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,739}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{238,739}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,2},{230,665}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,38},{230,665}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1704},{230,665}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,38},{230,665}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{240,707}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,0},{240,707}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1724},{236,725}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,0},{236,725}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,669},{228,707}}</string>
                <key>offset</key>
                <string>{-19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{228,707}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,667},{228,707}}</string>
                <key>offset</key>
                <string>{-19,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{228,707}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1466},{236,715}}</string>
                <key>offset</key>
                <string>{-26,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{236,715}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{240,737}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{240,737}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{236,733}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{236,733}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,737},{234,727}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{234,727}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,2},{230,663}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,38},{230,663}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
            <key>TTF6_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1874},{162,129}}</string>
                <key>offset</key>
                <string>{-14,-264}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,572},{162,129}}</string>
                <key>sourceSize</key>
                <string>{420,745}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton06.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e87346e56defc6207c4ebebd18b0e5f$</string>
            <key>textureFileName</key>
            <string>Ton06.png</string>
        </dict>
    </dict>
</plist>
