<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TTF2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,274},{16,8}}</string>
                <key>offset</key>
                <string>{8,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,224},{16,8}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,540},{132,50}}</string>
                <key>offset</key>
                <string>{14,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,215},{132,50}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1898},{162,104}}</string>
                <key>offset</key>
                <string>{15,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,211},{162,104}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,554},{274,154}}</string>
                <key>offset</key>
                <string>{8,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,207},{274,154}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1478},{418,170}}</string>
                <key>offset</key>
                <string>{-8,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,207},{418,170}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{458,178}}</string>
                <key>offset</key>
                <string>{-12,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,207},{458,178}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1478},{554,240}}</string>
                <key>offset</key>
                <string>{28,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,208},{554,240}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,540},{584,250}}</string>
                <key>offset</key>
                <string>{28,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,207},{584,250}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,274},{624,264}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,208},{624,264}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{672,270}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,208},{672,270}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,982},{678,272}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,208},{678,272}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,792},{678,272}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,208},{678,272}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1256},{678,268}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,208},{678,268}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,710},{684,270}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,270}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,792},{684,270}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,270}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{684,274}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,274}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,278},{684,274}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,274}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{684,274}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,274}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{684,274}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,274}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,274}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,274}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,274}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,274}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,274}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,274}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
            <key>TTF2_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,274}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,206},{684,274}}</string>
                <key>sourceSize</key>
                <string>{928,712}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton02.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a43b0422c34c4546c5f4f48f1583b4cc$</string>
            <key>textureFileName</key>
            <string>Ton02.png</string>
        </dict>
    </dict>
</plist>
