<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TTF3_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1346},{1,1}}</string>
                <key>offset</key>
                <string>{-261.5,246.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,1702},{64,60}}</string>
                <key>offset</key>
                <string>{-230,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,234},{64,60}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,246},{96,82}}</string>
                <key>offset</key>
                <string>{-204,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,218},{96,82}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,142},{116,102}}</string>
                <key>offset</key>
                <string>{-174,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,204},{116,102}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{138,122}}</string>
                <key>offset</key>
                <string>{-149,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,191},{138,122}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1562},{152,138}}</string>
                <key>offset</key>
                <string>{-132,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,181},{152,138}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1404},{166,156}}</string>
                <key>offset</key>
                <string>{-113,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,169},{166,156}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,868},{182,176}}</string>
                <key>offset</key>
                <string>{-92,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,157},{182,176}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1064},{210,214}}</string>
                <key>offset</key>
                <string>{-57,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,134},{210,214}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1764},{220,230}}</string>
                <key>offset</key>
                <string>{-43,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,124},{220,230}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1798},{230,242}}</string>
                <key>offset</key>
                <string>{-37,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,117},{230,242}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1764},{240,258}}</string>
                <key>offset</key>
                <string>{-24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,108},{240,258}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{248,274}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,99},{248,274}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1776},{264,290}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,90},{264,290}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,356},{286,318}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,75},{286,318}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1712},{294,326}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,71},{294,326}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1404},{306,338}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,64},{306,338}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{316,352}}</string>
                <key>offset</key>
                <string>{23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,56},{316,352}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1720},{326,364}}</string>
                <key>offset</key>
                <string>{28,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,50},{326,364}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1064},{338,380}}</string>
                <key>offset</key>
                <string>{34,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,42},{338,380}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,716},{346,390}}</string>
                <key>offset</key>
                <string>{38,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,36},{346,390}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,362},{352,398}}</string>
                <key>offset</key>
                <string>{42,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,32},{352,398}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,2},{358,408}}</string>
                <key>offset</key>
                <string>{45,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,27},{358,408}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1346},{364,416}}</string>
                <key>offset</key>
                <string>{47,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,22},{364,416}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1346},{372,428}}</string>
                <key>offset</key>
                <string>{51,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,16},{372,428}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,452},{376,434}}</string>
                <key>offset</key>
                <string>{53,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,13},{376,434}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,904},{380,440}}</string>
                <key>offset</key>
                <string>{55,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,10},{380,440}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{384,446}}</string>
                <key>offset</key>
                <string>{57,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,7},{384,446}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,450}}</string>
                <key>offset</key>
                <string>{58,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,5},{386,450}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{390,444}}</string>
                <key>offset</key>
                <string>{61,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,15},{390,444}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{394,448}}</string>
                <key>offset</key>
                <string>{62,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,14},{394,448}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{396,448}}</string>
                <key>offset</key>
                <string>{63,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,14},{396,448}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{396,414}}</string>
                <key>offset</key>
                <string>{64,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,15},{396,414}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,452},{396,414}}</string>
                <key>offset</key>
                <string>{64,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,15},{396,414}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,888},{396,414}}</string>
                <key>offset</key>
                <string>{64,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,15},{396,414}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
            <key>TTF3_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1304},{366,414}}</string>
                <key>offset</key>
                <string>{49,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,15},{366,414}}</string>
                <key>sourceSize</key>
                <string>{524,494}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton03.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:813dd746cc3c16506d2f3451f20ba32d$</string>
            <key>textureFileName</key>
            <string>Ton03.png</string>
        </dict>
    </dict>
</plist>
