<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TTF8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,2},{1,1}}</string>
                <key>offset</key>
                <string>{-379.5,175.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,2},{52,108}}</string>
                <key>offset</key>
                <string>{262,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{616,132},{52,108}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,254},{76,112}}</string>
                <key>offset</key>
                <string>{248,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{590,127},{76,112}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,912},{98,110}}</string>
                <key>offset</key>
                <string>{235,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{566,127},{98,110}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{98,110}}</string>
                <key>offset</key>
                <string>{235,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{566,127},{98,110}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{130,108}}</string>
                <key>offset</key>
                <string>{216,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{531,128},{130,108}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1000},{156,106}}</string>
                <key>offset</key>
                <string>{206,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,129},{156,106}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,892},{156,106}}</string>
                <key>offset</key>
                <string>{206,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,129},{156,106}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1752},{192,104}}</string>
                <key>offset</key>
                <string>{202,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,130},{192,104}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{214,106}}</string>
                <key>offset</key>
                <string>{179,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,126},{214,106}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{234,108}}</string>
                <key>offset</key>
                <string>{167,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,124},{234,108}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,912},{234,108}}</string>
                <key>offset</key>
                <string>{167,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,124},{234,108}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,912},{260,110}}</string>
                <key>offset</key>
                <string>{149,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,120},{260,110}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,636},{274,114}}</string>
                <key>offset</key>
                <string>{137,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,119},{274,114}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,262},{274,114}}</string>
                <key>offset</key>
                <string>{137,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{380,119},{274,114}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1028},{290,118}}</string>
                <key>offset</key>
                <string>{125,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,118},{290,118}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,662},{308,122}}</string>
                <key>offset</key>
                <string>{109,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,118},{308,122}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,538},{308,122}}</string>
                <key>offset</key>
                <string>{109,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,118},{308,122}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{322,132}}</string>
                <key>offset</key>
                <string>{99,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,116},{322,132}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,892},{338,134}}</string>
                <key>offset</key>
                <string>{90,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,116},{338,134}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,786},{358,124}}</string>
                <key>offset</key>
                <string>{77,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,115},{358,124}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,764},{372,126}}</string>
                <key>offset</key>
                <string>{70,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,113},{372,126}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,784},{372,126}}</string>
                <key>offset</key>
                <string>{70,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,113},{372,126}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,658},{382,126}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,113},{382,126}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,636},{382,126}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,113},{382,126}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{382,128}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,112},{382,128}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,654},{386,128}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,112},{386,128}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{414,126}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,115},{414,126}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,508},{414,126}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,115},{414,126}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,392},{428,126}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,116},{428,126}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,392},{434,122}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,120},{434,122}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,384},{434,122}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,120},{434,122}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,262},{450,120}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,124},{450,120}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{462,118}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,127},{462,118}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,134},{468,118}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,129},{468,118}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,134},{468,118}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,129},{468,118}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{478,122}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,127},{478,122}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,132},{482,128}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,125},{482,128}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{482,128}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,125},{482,128}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{488,130}}</string>
                <key>offset</key>
                <string>{-35,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,126},{488,130}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{494,130}}</string>
                <key>offset</key>
                <string>{-42,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,127},{494,130}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,130}}</string>
                <key>offset</key>
                <string>{-49,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,129},{502,130}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,254},{452,136}}</string>
                <key>offset</key>
                <string>{-26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{452,136}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{452,136}}</string>
                <key>offset</key>
                <string>{-26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{452,136}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,254},{464,136}}</string>
                <key>offset</key>
                <string>{-32,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,128},{464,136}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,520},{404,136}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,130},{404,136}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{410,136}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,131},{410,136}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,516},{410,136}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,131},{410,136}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,786},{302,126}}</string>
                <key>offset</key>
                <string>{51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,141},{302,126}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1054},{314,136}}</string>
                <key>offset</key>
                <string>{45,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,133},{314,136}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,914},{314,138}}</string>
                <key>offset</key>
                <string>{38,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,133},{314,138}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,2},{30,6}}</string>
                <key>offset</key>
                <string>{174,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{539,170},{30,6}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
            <key>TTF8_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,2},{30,6}}</string>
                <key>offset</key>
                <string>{174,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{539,170},{30,6}}</string>
                <key>sourceSize</key>
                <string>{760,352}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton08.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab5a6038c4ec6a49179be92cc8602e4$</string>
            <key>textureFileName</key>
            <string>Ton08.png</string>
        </dict>
    </dict>
</plist>
