<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TTF5_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,250},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,143.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,250},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,143.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,250},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,143.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,2},{324,94}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,88},{324,94}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,744},{408,182}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,21},{408,182}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,496},{480,244}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{480,244}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{482,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{482,248}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,252},{480,244}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{480,244}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{480,246}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{480,246}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,244}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{486,244}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,498},{478,242}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{478,242}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{480,246}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{480,246}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,496},{478,246}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{478,246}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,250},{480,244}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{480,244}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{484,242}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{484,242}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{478,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{478,246}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{484,246}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{484,246}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,250},{482,244}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{482,244}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,742},{476,246}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{476,246}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{470,244}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{470,244}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,742},{422,220}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,23},{422,220}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,928},{342,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,88},{342,110}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{334,108}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,89},{334,108}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1212},{334,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{334,110}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,652},{338,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,90},{338,108}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,992},{332,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,88},{332,112}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1234},{332,108}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,90},{332,108}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,990},{336,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,89},{336,110}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,744},{334,114}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,86},{334,114}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00070.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,990},{334,110}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,87},{334,110}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00071.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1102},{336,108}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,89},{336,108}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00072.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,964},{336,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,88},{336,110}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{330,108}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,92},{330,108}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00074.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1642},{322,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,98},{322,92}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1642},{322,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,98},{322,92}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1642},{322,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,98},{322,92}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{322,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,98},{322,92}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00078.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1324},{322,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,98},{322,92}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1548},{322,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,98},{322,92}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{322,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,98},{322,92}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF5_00081.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,328},{322,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,98},{322,92}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton05.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91038a87e5571f1be7f14f5728f88576$</string>
            <key>textureFileName</key>
            <string>Ton05.png</string>
        </dict>
    </dict>
</plist>
