<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TonF_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1132},{464,260}}</string>
                <key>offset</key>
                <string>{-24,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,260}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1132},{464,258}}</string>
                <key>offset</key>
                <string>{-24,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,258}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1598},{464,258}}</string>
                <key>offset</key>
                <string>{-24,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,258}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1136},{464,260}}</string>
                <key>offset</key>
                <string>{-24,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,260}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1346},{464,260}}</string>
                <key>offset</key>
                <string>{-24,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,260}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1136},{464,266}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,266}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{464,268}}</string>
                <key>offset</key>
                <string>{-24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,268}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1070},{464,274}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,274}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,858},{464,276}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,276}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,788},{464,280}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,280}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,852},{464,278}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,278}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{464,278}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,278}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,578},{470,278}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,278}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{474,280}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,280}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,568},{484,282}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,282}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,288},{490,278}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,278}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{492,284}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,284}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,290},{510,286}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,286}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{510,288}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,288}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,288}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{512,286}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{512,286}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,286}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,286}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,290},{512,260}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{512,260}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,552},{510,234}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{510,234}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{510,192}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{510,192}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1608},{408,152}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,74},{408,152}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1608},{388,152}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,75},{388,152}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1602},{366,146}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,76},{366,146}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1602},{370,148}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,77},{370,148}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1608},{384,150}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,75},{384,150}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1608},{386,162}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,65},{386,162}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1608},{402,152}}</string>
                <key>offset</key>
                <string>{30,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,64},{402,152}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1608},{422,158}}</string>
                <key>offset</key>
                <string>{30,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,62},{422,158}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1602},{372,168}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{372,168}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1602},{380,168}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,62},{380,168}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1858},{310,128}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,68},{310,128}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TonF_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2038,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,143.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30fb48e59e07913f5c96eb59cd7cc0a5$</string>
            <key>textureFileName</key>
            <string>Ton01.png</string>
        </dict>
    </dict>
</plist>
