<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TTF4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,143.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,748},{130,58}}</string>
                <key>offset</key>
                <string>{-2,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,0},{130,58}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,176},{150,112}}</string>
                <key>offset</key>
                <string>{0,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,0},{150,112}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{150,172}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,0},{150,172}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1012},{168,204}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,0},{168,204}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,970},{166,244}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,0},{166,244}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{176,278}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,0},{176,278}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{184,284}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,0},{184,284}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,378},{184,282}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,0},{184,282}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,192},{186,284}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,0},{186,284}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{188,286}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,0},{188,286}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{188,286}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,0},{188,286}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,288}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,0},{190,288}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,192},{184,282}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,0},{184,282}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{182,282}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,0},{182,282}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,380},{186,278}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,0},{186,278}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,564},{182,272}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,0},{182,272}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,568},{182,264}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,0},{182,264}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{178,252}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,0},{178,252}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,848},{166,248}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,0},{166,248}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,290},{158,240}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,0},{158,240}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,532},{142,238}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,0},{142,238}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,772},{128,238}}</string>
                <key>offset</key>
                <string>{3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,0},{128,238}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,748},{116,250}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,0},{116,250}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{106,248}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,0},{106,248}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,752},{94,250}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,0},{94,250}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,866},{102,246}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,0},{102,246}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,880},{74,244}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,0},{74,244}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,143.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
            <key>TTF4_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,143.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton04.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1cbc253158c32e2875db7491d6d9e96$</string>
            <key>textureFileName</key>
            <string>Ton04.png</string>
        </dict>
    </dict>
</plist>
