<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TG4_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,245.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,245.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1466},{422,156}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,148},{422,156}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1288},{442,176}}</string>
                <key>offset</key>
                <string>{30,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,144},{442,176}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1076},{458,210}}</string>
                <key>offset</key>
                <string>{27,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,132},{458,210}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,836},{466,238}}</string>
                <key>offset</key>
                <string>{23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,121},{466,238}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,572},{472,262}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,115},{472,262}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,298},{478,272}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,111},{478,272}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{496,294}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,99},{496,294}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1510},{512,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,94},{512,312}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1174},{512,334}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,91},{512,334}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1176},{512,350}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{512,350}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1528},{512,356}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,88},{512,356}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1528},{512,364}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{512,364}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1528},{512,364}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{512,364}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{512,364}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{512,364}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{512,364}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{512,364}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,798},{512,374}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{512,374}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,792},{512,382}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{512,382}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,402},{512,388}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{512,388}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{512,392}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{512,392}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,400},{512,396}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{512,396}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,398}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{512,398}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,398}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{512,398}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
            <key>TG4_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{512,396}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{512,396}}</string>
                <key>sourceSize</key>
                <string>{512,492}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton13.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b851174c5d68bb626ac2c436379b8ca$</string>
            <key>textureFileName</key>
            <string>Ton13.png</string>
        </dict>
    </dict>
</plist>
