<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TG3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,927},{1,1}}</string>
                <key>offset</key>
                <string>{-158,153.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,1776},{185,174}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,57},{185,174}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1821},{205,192}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,47},{205,192}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1782},{217,202}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{217,202}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1821},{237,218}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{237,218}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1816},{245,226}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{245,226}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,605},{261,240}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,23},{261,240}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1522},{273,252}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{273,252}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1501},{285,266}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{285,266}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1490},{297,280}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{297,280}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,901},{303,286}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{303,286}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1564},{309,290}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{309,290}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{317,296}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,296}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{317,300}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,300}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{317,306}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,306}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,308}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{311,308}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{311,308}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{311,308}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{311,308}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{309,302}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{309,302}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{307,302}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{307,302}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,312},{309,302}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{309,302}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1249},{313,292}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{313,292}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,306},{307,286}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{307,286}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1206},{291,292}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{291,292}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1205},{289,294}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{289,294}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1249},{297,300}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{297,300}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,2},{301,302}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{301,302}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,595},{305,296}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{305,296}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,902},{291,304}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{291,304}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,306},{291,306}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{291,306}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,620},{291,308}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{291,308}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1500},{295,280}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{295,280}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1208},{297,280}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{297,280}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1243},{299,280}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{299,280}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,930},{313,280}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,280}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,616},{309,280}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,280}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,927},{309,284}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,284}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,930},{311,286}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,286}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,900},{303,292}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,292}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,599},{299,300}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{299,300}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,306},{297,306}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{297,306}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,304},{289,308}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{289,308}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,605},{293,304}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{293,304}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1238},{273,282}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{273,282}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,1772},{263,268}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{263,268}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1551},{263,268}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{263,268}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1551},{263,268}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{263,268}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
            <key>TG3_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1769},{263,268}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{263,268}}</string>
                <key>sourceSize</key>
                <string>{317,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton12.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9178bcd40782726f13e5362a0189ed5$</string>
            <key>textureFileName</key>
            <string>Ton12.png</string>
        </dict>
    </dict>
</plist>
