<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TG1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1063},{1,1}}</string>
                <key>offset</key>
                <string>{-206,202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1762},{193,187}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,76},{193,187}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1531},{217,209}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,66},{217,209}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1531},{241,229}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{241,229}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1775},{257,247}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,53},{257,247}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1775},{269,263}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,46},{269,263}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1769},{277,273}}</string>
                <key>offset</key>
                <string>{-5,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,43},{277,273}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1759},{287,281}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,39},{287,281}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1750},{295,291}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,34},{295,291}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1338},{303,299}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{303,299}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,1222},{309,307}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{309,307}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1023},{315,313}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,25},{315,313}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,2},{325,327}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,18},{325,327}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1033},{331,335}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{331,335}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,2},{333,341}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,13},{333,341}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,347},{333,341}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,13},{333,341}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{335,345}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{335,345}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,712},{333,349}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{333,349}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1067},{339,353}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{339,353}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1067},{339,351}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{339,351}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{343,341}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{343,341}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1412},{345,343}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{345,343}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1063},{347,345}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{347,345}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1420},{347,347}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{347,347}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{349,351}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{349,351}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{351,353}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{351,353}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,353}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{351,353}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{349,353}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{349,353}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,349},{331,345}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{331,345}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,349},{329,345}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{329,345}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,696},{329,343}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{329,343}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,690},{329,341}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,5},{329,341}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,690},{331,329}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,9},{331,329}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,345},{331,325}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,10},{331,325}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{329,309}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,17},{329,309}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,329},{325,297}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{325,297}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,925},{317,295}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{317,295}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>TG1_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,628},{317,295}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{317,295}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton10.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:482cc39a4d1ffab1e3ce8d1c4ed41406$</string>
            <key>textureFileName</key>
            <string>Ton10.png</string>
        </dict>
    </dict>
</plist>
