<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TG2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,191},{1,1}}</string>
                <key>offset</key>
                <string>{-192,188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,2},{187,107}}</string>
                <key>offset</key>
                <string>{13,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,91},{187,107}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1120},{219,131}}</string>
                <key>offset</key>
                <string>{12,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,80},{219,131}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,943},{297,175}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,65},{297,175}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,943},{329,193}}</string>
                <key>offset</key>
                <string>{10,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,60},{329,193}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1610},{363,213}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,54},{363,213}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1274},{377,233}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,47},{377,233}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,688},{385,249}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{385,249}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,680},{385,261}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{385,261}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,664},{385,277}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{385,277}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,656},{385,289}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{385,289}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{383,293}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{383,293}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{385,291}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{385,291}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{385,303}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{385,303}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,365},{385,313}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{385,313}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,331},{385,323}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{385,323}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1657},{381,307}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{381,307}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1657},{381,307}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{381,307}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{385,327}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{385,327}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1649},{371,339}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{371,339}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1274},{373,351}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{373,351}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1314},{363,295}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{363,295}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,939},{383,333}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{383,333}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{385,345}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{385,345}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{385,361}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,361}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{385,373}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,373}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{381,377}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,377}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,377}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,349},{385,313}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,313}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,377},{385,309}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{385,309}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,947},{369,265}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{369,265}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1611},{369,265}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{369,265}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,943},{369,265}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{369,265}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1649},{369,275}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,56},{369,275}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1571},{355,255}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,57},{355,255}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1214},{355,255}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,57},{355,255}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
            <key>TG2_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1253},{355,255}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,57},{355,255}}</string>
                <key>sourceSize</key>
                <string>{385,377}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ton11.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abb28ae04f43f1169b7089d1eeff9b21$</string>
            <key>textureFileName</key>
            <string>Ton11.png</string>
        </dict>
    </dict>
</plist>
