<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{98,105}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,129},{98,105}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,437},{148,141}}</string>
                <key>offset</key>
                <string>{7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,88},{148,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{164,173}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,61},{164,173}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{164,173}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,61},{164,173}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,456},{144,141}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,90},{144,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,456},{144,141}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,90},{144,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{146,133}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,96},{146,133}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,580},{144,137}}</string>
                <key>offset</key>
                <string>{-1,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,96},{144,137}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,580},{144,137}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,96},{144,137}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,311},{150,143}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,95},{150,143}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,294},{156,141}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,96},{156,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,580},{144,129}}</string>
                <key>offset</key>
                <string>{4,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{144,129}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,145},{156,147}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,90},{156,147}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,288},{156,141}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,96},{156,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{156,141}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,96},{156,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,288},{156,141}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,96},{156,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,294},{156,141}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,96},{156,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,168},{156,141}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,96},{156,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,294},{156,141}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,96},{156,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,294},{156,141}}</string>
                <key>offset</key>
                <string>{6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,96},{156,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,145},{164,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,96},{164,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,145},{172,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,96},{172,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,148},{144,129}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{144,129}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{178,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,96},{178,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,141}}</string>
                <key>offset</key>
                <string>{7,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,96},{182,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{144,131}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,45},{144,131}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{174,141}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,96},{174,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{144,129}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,69},{144,129}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{144,131}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,90},{144,131}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,437},{144,141}}</string>
                <key>offset</key>
                <string>{4,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,90},{144,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,431},{146,141}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,90},{146,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
            <key>boss_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,431},{144,141}}</string>
                <key>offset</key>
                <string>{4,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,88},{144,141}}</string>
                <key>sourceSize</key>
                <string>{196,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d33f5e0a0563c557252823ff13aeaa06$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
