<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>king_bless_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{126,134}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{126,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,142},{136,136}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{136,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,558},{132,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{132,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{140,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{140,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,282},{136,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{136,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,418},{130,136}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{130,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{126,134}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{126,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{126,134}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{126,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,280},{132,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{132,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{138,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{138,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,420},{134,136}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{138,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{138,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{134,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{134,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,556},{128,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{128,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,142},{132,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,694},{134,134}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{134,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,830},{128,134}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{128,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,850},{136,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{136,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{140,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,570},{138,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{138,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{134,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{134,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,710},{136,138}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{136,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,420},{132,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{132,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{138,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{138,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{140,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,850},{136,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{136,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,710},{136,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{136,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{126,134}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{126,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_bless_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,830},{128,134}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{128,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>king_bless.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ecdb1992a26a2ebdfc0355c735f8b4$</string>
            <key>textureFileName</key>
            <string>king_bless.png</string>
        </dict>
    </dict>
</plist>
