<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_turn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{98,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{98,131}}</string>
                <key>sourceSize</key>
                <string>{98,145}</string>
            </dict>
            <key>card_turn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{80,137}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{80,137}}</string>
                <key>sourceSize</key>
                <string>{98,145}</string>
            </dict>
            <key>card_turn_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{24,141}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{24,141}}</string>
                <key>sourceSize</key>
                <string>{98,145}</string>
            </dict>
            <key>card_turn_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{4,141}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,4},{4,141}}</string>
                <key>sourceSize</key>
                <string>{98,145}</string>
            </dict>
            <key>card_turn_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{38,143}}</string>
                <key>sourceSize</key>
                <string>{98,145}</string>
            </dict>
            <key>card_turn_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{64,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{64,137}}</string>
                <key>sourceSize</key>
                <string>{98,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ok.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca81800566c31a5f71af74ba3698ca14$</string>
            <key>textureFileName</key>
            <string>ok.png</string>
        </dict>
    </dict>
</plist>
