<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_wry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,676},{110,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{110,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,670},{112,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{118,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{118,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,116},{138,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{138,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{148,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{148,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{146,112}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{146,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,226},{136,112}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{136,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,338},{126,110}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{126,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,340},{118,110}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{118,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,562},{112,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,564},{116,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{116,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{112,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{112,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,558},{116,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{116,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,450},{116,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{116,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{116,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{116,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,452},{116,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{116,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{116,106}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,33},{116,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,230},{128,106}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,33},{128,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,114},{146,110}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{146,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,114}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{148,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{140,112}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{140,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{128,106}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{128,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_wry_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,450},{118,106}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,33},{118,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow_wry.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23b6c129ec00a241569280c22b478450$</string>
            <key>textureFileName</key>
            <string>yellow_wry.png</string>
        </dict>
    </dict>
</plist>
