<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ppchips_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,83}</string>
                <key>spriteSourceSize</key>
                <string>{82,83}</string>
                <key>textureRect</key>
                <string>{{174,0},{82,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{75,83}</string>
                <key>textureRect</key>
                <string>{{83,156},{75,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ppchips_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,83}</string>
                <key>spriteSourceSize</key>
                <string>{48,83}</string>
                <key>textureRect</key>
                <string>{{83,231},{48,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ppchips_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,82}</string>
                <key>spriteSourceSize</key>
                <string>{33,82}</string>
                <key>textureRect</key>
                <string>{{174,83},{33,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ppchips_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,83}</string>
                <key>spriteSourceSize</key>
                <string>{46,83}</string>
                <key>textureRect</key>
                <string>{{0,239},{46,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ppchips_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,83}</string>
                <key>spriteSourceSize</key>
                <string>{73,83}</string>
                <key>textureRect</key>
                <string>{{166,176},{73,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ppchips_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,83}</string>
                <key>spriteSourceSize</key>
                <string>{82,83}</string>
                <key>textureRect</key>
                <string>{{174,0},{82,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{87,76}</string>
                <key>textureRect</key>
                <string>{{0,80},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,41}</string>
                <key>spriteSourceSize</key>
                <string>{83,41}</string>
                <key>textureRect</key>
                <string>{{166,249},{83,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,15}</string>
                <key>spriteSourceSize</key>
                <string>{81,15}</string>
                <key>textureRect</key>
                <string>{{80,320},{81,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,41}</string>
                <key>spriteSourceSize</key>
                <string>{83,41}</string>
                <key>textureRect</key>
                <string>{{83,279},{83,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,76}</string>
                <key>spriteSourceSize</key>
                <string>{87,76}</string>
                <key>textureRect</key>
                <string>{{87,80},{87,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{0,156},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,80}</string>
                <key>spriteSourceSize</key>
                <string>{87,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,60}</string>
                <key>spriteSourceSize</key>
                <string>{81,60}</string>
                <key>textureRect</key>
                <string>{{174,116},{81,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,51}</string>
                <key>spriteSourceSize</key>
                <string>{77,51}</string>
                <key>textureRect</key>
                <string>{{166,290},{77,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{0,285},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ppchips_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,80}</string>
                <key>spriteSourceSize</key>
                <string>{87,80}</string>
                <key>textureRect</key>
                <string>{{87,0},{87,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ppchips_rain.png</string>
            <key>size</key>
            <string>{256,345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7eb190c2fcd3b5c5594835dd46ad4de:e4ee4c0f7e8d1d4b8372c346a762a155:1a6e78075a2938dca9d25fad331bb32b$</string>
            <key>textureFileName</key>
            <string>ppchips_rain.png</string>
        </dict>
    </dict>
</plist>
