<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>winpot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{209,210}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{433,869},{209,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{219,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{217,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{222,1},{217,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,2}</string>
                <key>spriteSize</key>
                <string>{211,212}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{219,869},{211,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winpot_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,1}</string>
                <key>spriteSize</key>
                <string>{215,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{658,219},{215,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winpot_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{217,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{441,1},{217,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{213,212}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{654,868},{213,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{215,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{438,436},{215,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winpot_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{215,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{219,437},{215,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winpot_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{215,214}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{656,436},{215,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{215,214}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{656,652},{215,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{215,214}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{437,653},{215,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{217,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{660,1},{217,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{217,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{1,219},{217,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winpot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{217,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{1,438},{217,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winpot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{217,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{1,657},{217,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winpot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{217,216}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{219,219},{217,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winpot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{215,218}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{438,219},{215,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>winpot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{213,214}</string>
                <key>spriteSourceSize</key>
                <string>{261,236}</string>
                <key>textureRect</key>
                <string>{{219,654},{213,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>winpot.png</string>
            <key>size</key>
            <string>{878,1081}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2881b6528f384c99b6defa4bfb8f581:1427c997199d333a266f67000cadf0d2:8389562cf61725544644184f138ece95$</string>
            <key>textureFileName</key>
            <string>winpot.png</string>
        </dict>
    </dict>
</plist>
