<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_table_blessing_AA_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,468},{152,122}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,51},{152,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,442},{146,130}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{146,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,690},{156,124}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,51},{156,124}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,690},{156,124}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,51},{156,124}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,690},{156,124}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,51},{156,124}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{152,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,43},{152,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{152,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,43},{152,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{152,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,43},{152,132}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,318},{148,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{148,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,318},{148,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{148,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,318},{148,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{148,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,468},{152,122}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,51},{152,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,318},{148,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,50},{148,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,848},{154,124}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,51},{154,124}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,848},{154,124}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,51},{154,124}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,848},{154,124}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,51},{154,124}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,222},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,222},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,222},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,222},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,222},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,222},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,468},{152,122}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,51},{152,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,468},{152,122}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,51},{152,122}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,156},{160,130}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,50},{160,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,156},{160,130}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,50},{160,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,218}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,468},{220,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{220,214}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,468},{220,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{220,214}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,468},{220,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{220,214}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,690},{218,210}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{218,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,690},{218,210}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{218,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,690},{218,210}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{218,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,690},{218,210}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{218,210}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{1,1}}</string>
                <key>offset</key>
                <string>{-109.5,109.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,156},{160,130}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,50},{160,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{1,1}}</string>
                <key>offset</key>
                <string>{-109.5,109.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,442},{146,130}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{146,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>vip_table_blessing_AA_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,442},{146,130}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{146,130}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_table_blessing_AA.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6146d918916fafc941e1fc6f6e0654e7$</string>
            <key>textureFileName</key>
            <string>vip_table_blessing_AA.png</string>
        </dict>
    </dict>
</plist>
