<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bob_1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,784},{58,54}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,258},{58,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,998},{156,120}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,227},{156,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{244,186}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,199},{244,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,564},{276,228}}</string>
                <key>offset</key>
                <string>{-5,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,171},{276,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,998},{286,218}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,166},{286,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,784},{340,212}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,151},{340,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{374,248}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,126},{374,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{394,262}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,119},{394,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,268}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,115},{414,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,520},{378,262}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,125},{378,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,250},{398,268}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,122},{398,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{412,246}}</string>
                <key>offset</key>
                <string>{-18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,118},{412,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{294,254}}</string>
                <key>offset</key>
                <string>{46,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,113},{294,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,844},{298,258}}</string>
                <key>offset</key>
                <string>{46,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,111},{298,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{308,162}}</string>
                <key>offset</key>
                <string>{46,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,195},{308,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{220,148}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,212},{220,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,408},{164,154}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,209},{164,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,248},{168,158}}</string>
                <key>offset</key>
                <string>{34,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,207},{168,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>bob_1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bob_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:272879ec3b606cbe2d159b395bc7dbc1$</string>
            <key>textureFileName</key>
            <string>bob_1.png</string>
        </dict>
    </dict>
</plist>
