<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>COR1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,219},{1,1}}</string>
                <key>offset</key>
                <string>{-300,229}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1482},{143,131}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,141},{143,131}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1482},{167,149}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,131},{167,149}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,1170},{181,159}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,126},{181,159}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,1331},{209,177}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,117},{209,177}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,1502},{239,199}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,104},{239,199}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1524},{273,221}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,93},{273,221}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1754},{287,229}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,91},{287,229}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1271},{321,251}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,81},{321,251}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1618},{353,275}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,70},{353,275}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,663},{369,285}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,66},{369,285}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{407,301}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,60},{407,301}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{431,305}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,63},{431,305}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1345},{361,271}}</string>
                <key>offset</key>
                <string>{-45,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{361,271}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1651},{317,263}}</string>
                <key>offset</key>
                <string>{-21,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,85},{317,263}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,1754},{283,271}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,88},{283,271}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1754},{291,287}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,83},{291,287}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,1457},{297,295}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,80},{297,295}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{311,295}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,73},{311,295}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1199},{327,301}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,71},{327,301}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1170},{341,285}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,68},{341,285}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1618},{351,295}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,70},{351,295}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1181},{363,299}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,72},{363,299}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{401,289}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,95},{401,289}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{433,209}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,94},{433,209}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{441,209}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,94},{441,209}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,2},{419,215}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,95},{419,215}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,440},{403,221}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{403,221}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,213},{407,225}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,94},{407,225}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{367,227}}</string>
                <key>offset</key>
                <string>{14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,94},{367,227}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,950},{367,229}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,95},{367,229}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,807},{367,245}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,88},{367,245}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,723},{367,257}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,81},{367,257}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,668},{367,283}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,64},{367,283}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{367,307}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,48},{367,307}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,299},{367,319}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,40},{367,319}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,522},{381,283}}</string>
                <key>offset</key>
                <string>{7,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,25},{381,283}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,434},{399,287}}</string>
                <key>offset</key>
                <string>{-2,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,21},{399,287}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,309},{407,211}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,92},{407,211}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,219},{411,213}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,92},{411,213}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1054},{367,215}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,95},{367,215}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,982},{367,215}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,94},{367,215}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
            <key>COR1_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,953},{367,215}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,94},{367,215}}</string>
                <key>sourceSize</key>
                <string>{601,459}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CO1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a930c14f31265f2395e6ccf780eff13e$</string>
            <key>textureFileName</key>
            <string>CO1.png</string>
        </dict>
    </dict>
</plist>
