<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CO10_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1288},{350,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,301},{350,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1430},{394,134}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,292},{394,134}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1134},{452,152}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,283},{452,152}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,394},{528,178}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,269},{528,178}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,746},{640,216}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,249},{640,216}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{656,220}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,247},{656,220}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{672,226}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,244},{672,226}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{690,232}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,241},{690,232}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,504},{708,238}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,238},{708,238}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,256},{720,246}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,233},{720,246}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{720,252}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,230},{720,252}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,260}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,226},{720,260}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{714,240}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,237},{714,240}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,744},{668,224}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,245},{668,224}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,964},{628,212}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,251},{628,212}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{592,200}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,257},{592,200}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,204},{558,188}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,264},{558,188}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,394},{528,178}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,269},{528,178}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,574},{504,170}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,273},{504,170}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,970},{480,162}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,277},{480,162}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,970},{458,154}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,282},{458,154}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{438,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,285},{438,148}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1870},{420,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,288},{420,142}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{404,136}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,291},{404,136}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1430},{388,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,293},{388,132}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1288},{374,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,297},{374,126}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1430},{362,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,299},{362,122}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO10_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1288},{350,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,301},{350,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CO10.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff74e83a33f3dfb9c7a043983e7d87aa$</string>
            <key>textureFileName</key>
            <string>CO10.png</string>
        </dict>
    </dict>
</plist>
