<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CO11_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1528},{386,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,296},{386,128}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1090},{436,146}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,287},{436,146}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,744},{502,168}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,276},{502,168}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{592,198}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,262},{592,198}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{710,242}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,241},{710,242}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1086},{718,248}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,238},{718,248}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{720,254}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,235},{720,254}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{720,260}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,233},{720,260}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,566},{720,268}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,229},{720,268}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,288},{720,276}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,225},{720,276}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{720,284}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,221},{720,284}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,292}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,218},{720,292}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{720,270}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,228},{720,270}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,836},{720,252}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,237},{720,252}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1336},{702,236}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,244},{702,236}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1336},{664,222}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,251},{664,222}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1336},{626,208}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,258},{626,208}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{592,198}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,262},{592,198}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,202},{562,188}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,267},{562,188}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,392},{534,178}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,272},{534,178}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,572},{510,170}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,276},{510,170}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1090},{488,162}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,280},{488,162}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,914},{466,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,282},{466,156}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1072},{446,150}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,285},{446,150}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1528},{430,144}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,288},{430,144}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1254},{414,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,291},{414,138}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,914},{398,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,294},{398,132}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>CO11_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1528},{386,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,296},{386,128}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CO11.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:497fdf2bd5b1ac5aff864f3d3ab35f9c$</string>
            <key>textureFileName</key>
            <string>CO11.png</string>
        </dict>
    </dict>
</plist>
