<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CO5_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,670},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,670},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,670},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1672},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1338},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1004},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,670},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,336},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,336},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,336},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,336},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1672},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1338},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1004},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,670},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,336},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>CO5_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,670},{332,332}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{332,332}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CO5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd260ce7603666abe264d410484d8043$</string>
            <key>textureFileName</key>
            <string>CO5.png</string>
        </dict>
    </dict>
</plist>
