<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CO6_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,364},{10,14}}</string>
                <key>offset</key>
                <string>{-19,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{676,747},{10,14}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,346},{16,20}}</string>
                <key>offset</key>
                <string>{-26,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{666,740},{16,20}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,792},{26,26}}</string>
                <key>offset</key>
                <string>{-38,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{649,733},{26,26}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,752},{40,38}}</string>
                <key>offset</key>
                <string>{-55,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{625,719},{40,38}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,686},{60,64}}</string>
                <key>offset</key>
                <string>{-77,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{593,698},{60,64}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1282},{86,98}}</string>
                <key>offset</key>
                <string>{-106,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{551,672},{86,98}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1794},{198,142}}</string>
                <key>offset</key>
                <string>{-100,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{501,640},{198,142}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1030},{250,190}}</string>
                <key>offset</key>
                <string>{-125,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,607},{250,190}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{304,240}}</string>
                <key>offset</key>
                <string>{-149,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,575},{304,240}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,400},{350,282}}</string>
                <key>offset</key>
                <string>{-169,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,550},{350,282}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{380,314}}</string>
                <key>offset</key>
                <string>{-181,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,532},{380,314}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{396,332}}</string>
                <key>offset</key>
                <string>{-183,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,524},{396,332}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1374},{418,338}}</string>
                <key>offset</key>
                <string>{-171,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,524},{418,338}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1194},{442,340}}</string>
                <key>offset</key>
                <string>{-153,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,525},{442,340}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{466,342}}</string>
                <key>offset</key>
                <string>{-136,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,525},{466,342}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,684},{508,344}}</string>
                <key>offset</key>
                <string>{-109,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,524},{508,344}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{600,342}}</string>
                <key>offset</key>
                <string>{-57,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,524},{600,342}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{664,338}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,526},{664,338}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO6_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,342}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,523},{686,342}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CO6.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d98ab8baf48a3adbb8c5346943669b3$</string>
            <key>textureFileName</key>
            <string>CO6.png</string>
        </dict>
    </dict>
</plist>
