<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CO7_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,296},{4,8}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{690,726},{4,8}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,284},{10,14}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{685,724},{10,14}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,686},{32,30}}</string>
                <key>offset</key>
                <string>{-18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{666,715},{32,30}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,992},{74,54}}</string>
                <key>offset</key>
                <string>{-35,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{628,699},{74,54}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,906},{136,84}}</string>
                <key>offset</key>
                <string>{-61,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{571,677},{136,84}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,686},{218,138}}</string>
                <key>offset</key>
                <string>{-96,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{495,633},{218,138}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{302,214}}</string>
                <key>offset</key>
                <string>{-132,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,583},{302,214}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{362,280}}</string>
                <key>offset</key>
                <string>{-159,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,543},{362,280}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,856},{394,320}}</string>
                <key>offset</key>
                <string>{-169,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,522},{394,320}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1178},{430,338}}</string>
                <key>offset</key>
                <string>{-152,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,517},{430,338}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{460,342}}</string>
                <key>offset</key>
                <string>{-132,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,520},{460,342}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{470,344}}</string>
                <key>offset</key>
                <string>{-119,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,523},{470,344}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,284},{570,346}}</string>
                <key>offset</key>
                <string>{-61,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,523},{570,346}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{642,344}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,523},{642,344}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
            <key>CO7_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{654,336}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,526},{654,336}}</string>
                <key>sourceSize</key>
                <string>{1400,1400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CO7.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90e91fe672a3d01a475702d582eda234$</string>
            <key>textureFileName</key>
            <string>CO7.png</string>
        </dict>
    </dict>
</plist>
