<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CO8_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,214},{1,1}}</string>
                <key>offset</key>
                <string>{-291.5,283.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,126},{58,54}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,246},{58,54}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{122,112}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,215},{122,112}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,776},{142,134}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,202},{142,134}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,598},{194,176}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,175},{194,176}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1820},{242,216}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,149},{242,216}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1394},{268,236}}</string>
                <key>offset</key>
                <string>{3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,137},{268,236}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1174},{312,276}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,115},{312,276}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{352,308}}</string>
                <key>offset</key>
                <string>{7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,95},{352,308}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{390,336}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,78},{390,336}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,598},{410,350}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,71},{410,350}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,220},{442,376}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,56},{442,376}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{474,396}}</string>
                <key>offset</key>
                <string>{7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,46},{474,396}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{492,410}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,45},{492,410}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,414},{436,354}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,103},{436,354}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{414,358}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,102},{414,358}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,770},{402,336}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,104},{402,336}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,400},{438,262}}</string>
                <key>offset</key>
                <string>{9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,190},{438,262}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{456,216}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,192},{456,216}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{484,218}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,190},{484,218}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,210}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,198},{496,210}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{394,220}}</string>
                <key>offset</key>
                <string>{-24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,188},{394,220}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,664},{404,222}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,186},{404,222}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,888},{284,230}}</string>
                <key>offset</key>
                <string>{49,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,178},{284,230}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1394},{298,252}}</string>
                <key>offset</key>
                <string>{50,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,156},{298,252}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1504},{314,274}}</string>
                <key>offset</key>
                <string>{40,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,134},{314,274}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1648},{318,284}}</string>
                <key>offset</key>
                <string>{28,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,124},{318,284}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1664},{338,308}}</string>
                <key>offset</key>
                <string>{22,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,105},{338,308}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1664},{256,338}}</string>
                <key>offset</key>
                <string>{-38,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,85},{256,338}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1108},{284,364}}</string>
                <key>offset</key>
                <string>{-41,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,67},{284,364}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,888},{296,378}}</string>
                <key>offset</key>
                <string>{-45,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,59},{296,378}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1186},{316,314}}</string>
                <key>offset</key>
                <string>{-52,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,51},{316,314}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1664},{324,312}}</string>
                <key>offset</key>
                <string>{-59,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,48},{324,312}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1488},{302,248}}</string>
                <key>offset</key>
                <string>{-73,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,112},{302,248}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,1792},{234,248}}</string>
                <key>offset</key>
                <string>{-39,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,112},{234,248}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1792},{236,248}}</string>
                <key>offset</key>
                <string>{-40,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,112},{236,248}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
            <key>CO8_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,950},{232,248}}</string>
                <key>offset</key>
                <string>{-38,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,112},{232,248}}</string>
                <key>sourceSize</key>
                <string>{584,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CO9.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f22b4db6c8c45a237dfe8ef299c3e49$</string>
            <key>textureFileName</key>
            <string>CO9.png</string>
        </dict>
    </dict>
</plist>
