<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Po_1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{232,182}}</string>
                <key>offset</key>
                <string>{7,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,292},{232,182}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,602},{266,206}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,269},{266,206}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,330},{270,210}}</string>
                <key>offset</key>
                <string>{6,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,260},{270,210}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1190},{296,228}}</string>
                <key>offset</key>
                <string>{7,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,235},{296,228}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1236},{318,246}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,211},{318,246}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,974},{342,260}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,190},{342,260}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{376,314}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,164},{376,314}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{388,326}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,153},{388,326}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,344}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,127},{424,344}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1420},{292,242}}</string>
                <key>offset</key>
                <string>{8,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,223},{292,242}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{310,262}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,198},{310,262}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,870},{318,270}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,185},{318,270}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{340,290}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,158},{340,290}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,668},{360,304}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,134},{360,304}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{376,318}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,118},{376,318}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,330},{378,336}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,91},{378,336}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{248,222}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,162},{248,222}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1540},{260,246}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,137},{260,246}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>Po_1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1484},{264,246}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,124},{264,246}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Po_1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8009d524164f079c663df64f2e435b7$</string>
            <key>textureFileName</key>
            <string>Po_1.png</string>
        </dict>
    </dict>
</plist>
