<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sharkpup_angry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,140},{136,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,278},{132,138}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{138,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,394},{132,132}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{132,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{126,128}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{126,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,412},{130,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{130,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,278},{114,138}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{114,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{68,80}}</string>
                <key>offset</key>
                <string>{36,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,1},{68,80}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,72},{42,44}}</string>
                <key>offset</key>
                <string>{42,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,6},{42,44}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{134,138}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,278},{132,138}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{136,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,140},{136,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,142},{134,138}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>sharkpup_angry_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{140,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sharkpup_angry.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a44d29cad4b363a8cb5b1c86854881a$</string>
            <key>textureFileName</key>
            <string>sharkpup_angry.png</string>
        </dict>
    </dict>
</plist>
