<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>donkey_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,782},{89,125}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,14},{89,125}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{125,135}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{125,135}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{129,151}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{129,151}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{127,155}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{127,155}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{121,139}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{121,139}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,643},{123,137}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{123,137}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,647},{135,133}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{135,133}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{141,125}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{141,125}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,383},{139,141}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{139,141}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,256},{135,149}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{135,149}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{113,155}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{113,155}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,875},{107,133}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{107,133}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{119,149}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{119,149}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,873},{129,131}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{129,131}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,768},{127,125}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{127,125}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,393},{125,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{125,141}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,262},{119,149}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{119,149}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{113,155}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{113,155}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{119,149}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{119,149}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,873},{129,131}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{129,131}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,768},{127,125}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{127,125}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,393},{125,141}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{125,141}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,131},{123,151}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{123,151}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,262},{119,149}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{119,149}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{127,155}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{127,155}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,524},{121,139}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{121,139}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,875},{125,135}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{125,135}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,131},{129,151}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{129,151}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,155}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{127,155}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
            <key>donkey_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,520},{121,139}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{121,139}}</string>
                <key>sourceSize</key>
                <string>{155,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>donkey.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e06c5c07db3bbf77623d83966eb3ea$</string>
            <key>textureFileName</key>
            <string>donkey.png</string>
        </dict>
    </dict>
</plist>
