<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>king_blast_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{112,132}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{112,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,564},{106,130}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{106,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,546},{104,132}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{104,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{160,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,164},{154,146}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{154,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{156,148}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{156,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,830},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,432},{106,130}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{106,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,756},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,750},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,696},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,652},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,646},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,646},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,646},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,646},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,314},{116,132}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{116,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,646},{102,132}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,312},{118,132}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{118,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{114,132}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{114,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,854},{112,130}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,11},{112,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,432},{106,132}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{106,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,432},{112,132}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{112,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_blast_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,540},{104,132}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{104,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>king_blast.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:069b3f36a1d8ae8c250649a988004d3e$</string>
            <key>textureFileName</key>
            <string>king_blast.png</string>
        </dict>
    </dict>
</plist>
