<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,479},{54,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,86}}</string>
                <key>sourceSize</key>
                <string>{54,86}</string>
            </dict>
            <key>beer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{139,93}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{139,93}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{139,93}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{139,93}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,143},{107,121}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{107,121}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,143},{107,121}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{107,121}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,572},{113,117}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,7},{113,117}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,572},{113,117}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,7},{113,117}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,266},{153,129}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{153,129}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,266},{153,129}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{153,129}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,368},{171,109}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{171,109}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,368},{171,109}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{171,109}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{121,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{121,113}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,85},{195,105}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{195,105}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,85},{195,105}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{195,105}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{189,109}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{189,109}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{189,109}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{189,109}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,514},{117,113}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,20},{117,113}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,514},{117,113}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,20},{117,113}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,479},{123,91}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{123,91}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,479},{123,91}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{123,91}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{139,93}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{139,93}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{139,93}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,28},{139,93}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{121,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{121,113}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{145,81}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,36},{145,81}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{163,81}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{163,81}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,192},{183,81}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{183,81}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{201,81}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,36},{201,81}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,567},{51,81}}</string>
                <key>offset</key>
                <string>{80,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,36},{51,81}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,421},{153,91}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{153,91}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,421},{153,91}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{153,91}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,275},{179,91}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{179,91}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{191,91}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{191,91}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,91}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{201,91}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
            <key>beer_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{177,91}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,31},{177,91}}</string>
                <key>sourceSize</key>
                <string>{227,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beer.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5588907b9325d0eed35be23552a364$</string>
            <key>textureFileName</key>
            <string>beer.png</string>
        </dict>
    </dict>
</plist>
