<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oscar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{213,217}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,108},{213,217}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1083},{215,213}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,110},{215,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{217,215}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,109},{217,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,866},{215,213}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,110},{215,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1294},{213,211}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,111},{213,211}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{215,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,109},{215,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,649},{215,213}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,110},{215,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,649},{211,211}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,111},{211,211}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,434},{213,213}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,111},{213,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,2},{215,215}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,110},{215,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,649},{213,213}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,111},{213,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,213}}</string>
                <key>offset</key>
                <string>{-21,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,110},{233,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,864},{211,211}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,111},{211,211}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{213,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,109},{213,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{213,217}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,108},{213,217}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1509},{209,213}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,110},{209,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1517},{213,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,109},{213,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{215,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,109},{215,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1730},{213,213}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,110},{213,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1515},{213,213}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,110},{213,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{215,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,109},{215,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,219},{215,213}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,111},{215,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{213,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,109},{213,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1079},{213,211}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,111},{213,211}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,219},{215,213}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,111},{215,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{215,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,109},{215,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,219},{215,213}}</string>
                <key>offset</key>
                <string>{-24,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,110},{215,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,436},{213,211}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,112},{213,211}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,219},{215,213}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,111},{215,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,219},{215,213}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,111},{215,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1722},{211,211}}</string>
                <key>offset</key>
                <string>{-22,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,111},{211,211}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1083},{213,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,109},{213,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,219},{215,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,109},{215,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{213,215}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,110},{213,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,649},{213,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,109},{213,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,864},{211,213}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,111},{211,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,217},{215,215}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,110},{215,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{213,217}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,108},{213,217}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1300},{213,213}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,111},{213,213}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1509},{211,211}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,112},{211,211}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,217},{215,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,109},{215,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{215,215}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,109},{215,215}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
            <key>oscar_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1724},{211,211}}</string>
                <key>offset</key>
                <string>{-23,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,111},{211,211}}</string>
                <key>sourceSize</key>
                <string>{369,369}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oscar.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f8683ccd3a853a773bbf9c0ee9ec3f4$</string>
            <key>textureFileName</key>
            <string>oscar.png</string>
        </dict>
    </dict>
</plist>
