<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuaji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,202},{92,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,49},{92,64}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,250},{126,138}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,17},{126,138}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,250},{126,138}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,17},{126,138}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,148}}</string>
                <key>offset</key>
                <string>{-37,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,10},{118,148}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{106,148}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,10},{106,148}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{94,148}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,10},{94,148}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,98},{84,148}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,10},{84,148}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,110},{72,148}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,10},{72,148}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,184},{64,148}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,10},{64,148}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{66,148}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,9},{66,148}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{74,142}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,16},{74,142}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,378},{108,130}}</string>
                <key>offset</key>
                <string>{-53,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,21},{108,130}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,184},{72,140}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,17},{72,140}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{76,122}}</string>
                <key>offset</key>
                <string>{-16,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,33},{76,122}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,440},{82,96}}</string>
                <key>offset</key>
                <string>{-19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,59},{82,96}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,296},{72,88}}</string>
                <key>offset</key>
                <string>{-42,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,67},{72,88}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,370},{68,84}}</string>
                <key>offset</key>
                <string>{-45,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,71},{68,84}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{62,80}}</string>
                <key>offset</key>
                <string>{-47,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,75},{62,80}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{56,78}}</string>
                <key>offset</key>
                <string>{-50,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,79},{56,78}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,82},{56,26}}</string>
                <key>offset</key>
                <string>{-55,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,83},{56,26}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,140},{54,26}}</string>
                <key>offset</key>
                <string>{-60,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,89},{54,26}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,110},{54,28}}</string>
                <key>offset</key>
                <string>{-64,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,90},{54,28}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,378},{108,130}}</string>
                <key>offset</key>
                <string>{-53,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,21},{108,130}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,488},{52,30}}</string>
                <key>offset</key>
                <string>{-67,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,91},{52,30}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,466},{52,30}}</string>
                <key>offset</key>
                <string>{-71,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,93},{52,30}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,168},{52,32}}</string>
                <key>offset</key>
                <string>{-75,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,94},{52,32}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{50,34}}</string>
                <key>offset</key>
                <string>{-78,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,95},{50,34}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,498},{50,34}}</string>
                <key>offset</key>
                <string>{-82,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,97},{50,34}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,520},{48,34}}</string>
                <key>offset</key>
                <string>{-85,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,99},{48,34}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,488},{48,38}}</string>
                <key>offset</key>
                <string>{-88,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,98},{48,38}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,376},{112,134}}</string>
                <key>offset</key>
                <string>{-52,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,17},{112,134}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,376},{112,134}}</string>
                <key>offset</key>
                <string>{-52,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,17},{112,134}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,258},{116,134}}</string>
                <key>offset</key>
                <string>{-56,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,17},{116,134}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,258},{116,134}}</string>
                <key>offset</key>
                <string>{-56,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,17},{116,134}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{120,134}}</string>
                <key>offset</key>
                <string>{-43,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{120,134}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
            <key>zhuaji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{120,134}}</string>
                <key>offset</key>
                <string>{-43,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,21},{120,134}}</string>
                <key>sourceSize</key>
                <string>{362,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuaji.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6017f36d8eb3503a51396afae808efe5$</string>
            <key>textureFileName</key>
            <string>zhuaji.png</string>
        </dict>
    </dict>
</plist>
