<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>joker_jj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{124,128}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{124,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,508},{120,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{122,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,638},{120,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,378},{118,128}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{118,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,816},{116,132}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{116,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,546},{116,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{118,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{118,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,274},{116,134}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,682},{116,132}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{116,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{118,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{118,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,544},{126,130}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{126,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{118,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,138},{116,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{116,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,818},{114,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{114,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,682},{114,134}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{114,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,410},{116,134}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{116,134}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{116,134}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,808},{118,130}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{118,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,808},{118,130}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{118,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,676},{124,130}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{124,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,248},{120,128}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{120,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,378},{120,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{120,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,782},{122,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,652},{122,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,522},{122,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,508},{120,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,392},{122,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,262},{122,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,248},{120,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{122,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,132},{122,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,782},{122,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,652},{122,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,378},{120,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,248},{120,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,248},{116,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{116,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,410},{114,132}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{114,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{116,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{116,134}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{116,134}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,522},{122,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,392},{122,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,262},{122,128}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,132},{122,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{122,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>joker_jj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,126},{120,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>joker_jj.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55589fd38d452ebc9a21032cef3a1c1a$</string>
            <key>textureFileName</key>
            <string>joker_jj.png</string>
        </dict>
    </dict>
</plist>
