<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{910,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1040,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1170,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1300,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1430,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1560,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1690,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1820,0},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{910,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1040,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1170,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1300,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1430,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1560,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1690,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1820,180},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{910,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1040,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1170,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1300,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1430,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1560,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1690,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1820,360},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{910,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1040,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1170,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1300,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1430,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1560,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1690,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1820,540},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{0,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{130,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{260,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{390,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{520,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{650,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{780,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{910,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1040,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1170,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1300,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1430,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1560,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,180}</string>
                <key>spriteSourceSize</key>
                <string>{130,180}</string>
                <key>textureRect</key>
                <string>{{1690,720},{130,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ghost.png</string>
            <key>size</key>
            <string>{1950,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f910a0452ab00a3b6df654f0b36f89d9:1968714f4883feda71016036c12aae45:8538abdcbd4db339f06a581573008863$</string>
            <key>textureFileName</key>
            <string>ghost.png</string>
        </dict>
    </dict>
</plist>
