<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pumpkin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{180,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{360,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{540,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{720,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{900,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1080,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1260,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1440,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1620,0},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{0,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{180,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{360,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{540,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{720,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{900,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1080,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1260,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1440,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1620,240},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{0,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{180,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{360,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{540,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{720,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{900,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1080,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1260,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1440,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1620,480},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{0,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{180,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{360,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{540,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{720,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{900,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1080,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1260,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1440,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1620,720},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{0,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{180,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{360,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{540,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{720,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{900,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1080,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1260,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1440,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1620,960},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{0,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{180,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{360,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{540,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{720,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{900,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1080,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1260,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1440,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1620,1200},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{0,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{180,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{360,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{540,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{720,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{900,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1080,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1260,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1440,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pumpkin_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,240}</string>
                <key>spriteSourceSize</key>
                <string>{180,240}</string>
                <key>textureRect</key>
                <string>{{1620,1440},{180,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pumpkin.png</string>
            <key>size</key>
            <string>{1800,1680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef5af876fdf6a626632b9a4230a17e1:ea217a2ce8ee617860dfbf2a2512d04b:aba50b30a2690d506f589ce25df33dd4$</string>
            <key>textureFileName</key>
            <string>Pumpkin.png</string>
        </dict>
    </dict>
</plist>
