<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>death_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{250,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{500,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{750,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1000,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1250,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1500,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1750,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2000,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2250,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2500,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2750,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3000,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3250,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3500,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3750,0},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{0,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{250,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{500,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{750,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1000,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1250,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1500,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1750,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2000,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2250,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2500,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2750,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3000,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3250,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3500,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3750,240},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{0,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{250,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{500,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{750,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1000,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1250,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1500,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1750,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2000,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2250,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2500,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2750,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3000,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3250,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3500,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3750,480},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{0,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{250,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{500,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{750,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1000,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1250,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1500,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1750,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2000,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2250,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2500,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2750,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3000,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3250,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3500,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3750,720},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{0,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{250,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{500,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{750,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1000,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1250,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1500,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{1750,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2000,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2250,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2500,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{2750,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3000,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3250,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,240}</string>
                <key>spriteSourceSize</key>
                <string>{250,240}</string>
                <key>textureRect</key>
                <string>{{3500,960},{250,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>death.png</string>
            <key>size</key>
            <string>{4000,1200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddb86e40d7a04009ebec9b7cb7d5bf7c:287a9e26fb639acb07f8fd4db95d2750:93e1a4172adad0416fcc4262b4b74fcf$</string>
            <key>textureFileName</key>
            <string>death.png</string>
        </dict>
    </dict>
</plist>
