<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FFP01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,319},{1,1}}</string>
                <key>offset</key>
                <string>{-166,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2011},{31,31}}</string>
                <key>offset</key>
                <string>{4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,120},{31,31}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1977},{53,53}}</string>
                <key>offset</key>
                <string>{4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,109},{53,53}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1910},{63,65}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,102},{63,65}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1910},{83,87}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,91},{83,87}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1910},{93,99}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,85},{93,99}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1910},{111,117}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,77},{111,117}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1910},{119,127}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,72},{119,127}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1910},{135,145}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,62},{135,145}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1899},{143,155}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,57},{143,155}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1687},{157,169}}</string>
                <key>offset</key>
                <string>{6,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,50},{157,169}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1522},{163,175}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,48},{163,175}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1496},{177,189}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,42},{177,189}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1309},{185,195}}</string>
                <key>offset</key>
                <string>{7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,39},{185,195}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,1327},{193,207}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,34},{193,207}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1309},{199,213}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,32},{199,213}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1299},{209,223}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,28},{209,223}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1299},{213,227}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,26},{213,227}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1086},{221,237}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,22},{221,237}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1072},{225,241}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,21},{225,241}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1064},{233,249}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,18},{233,249}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,825},{237,253}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,17},{237,253}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{243,261}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,14},{243,261}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,825},{245,265}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,13},{245,265}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1072},{253,271}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,11},{253,271}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,817},{253,275}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,10},{253,275}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,534},{257,281}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,9},{257,281}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,247},{259,285}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,7},{259,285}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,554},{263,287}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,8},{263,287}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,558},{265,289}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,8},{265,289}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,554},{269,295}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,6},{269,295}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,283},{269,297}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,6},{269,297}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,283},{273,301}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,6},{273,301}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,2},{275,303}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{275,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{279,307}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,6},{279,307}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{279,309}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{279,309}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1584},{283,313}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{283,313}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1269},{283,313}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{283,313}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{285,315}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{285,315}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,959},{285,315}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{285,315}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,319}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{283,319}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{285,317}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{285,317}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{285,315}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{285,315}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{285,315}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{285,315}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,954},{283,313}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{283,313}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,322},{281,315}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,7},{281,315}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1269},{281,313}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{281,313}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{283,313}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{283,313}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1593},{283,315}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{283,315}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,954},{281,313}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{281,313}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,319},{285,313}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{285,313}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,639},{285,313}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{285,313}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1593},{283,315}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,10},{283,315}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,634},{279,313}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{279,313}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,279},{273,303}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{273,303}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
            <key>FFP01_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,819},{273,265}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{273,265}}</string>
                <key>sourceSize</key>
                <string>{333,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FFP01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:594372f1ac61d084239ef84bbcc6b003$</string>
            <key>textureFileName</key>
            <string>FFP01.png</string>
        </dict>
    </dict>
</plist>
