<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PPGL3_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,2},{1,1}}</string>
                <key>offset</key>
                <string>{-265.5,265.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,546},{166,92}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,222},{166,92}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1128},{204,124}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,205},{204,124}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1128},{204,124}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,205},{204,124}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1128},{236,152}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,190},{236,152}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1152},{264,174}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,178},{264,174}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1706},{276,184}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,173},{276,184}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1706},{276,184}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,173},{276,184}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1706},{298,202}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,164},{298,202}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1706},{318,212}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,159},{318,212}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{332,224}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,153},{332,224}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{332,224}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,153},{332,224}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1700},{346,232}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,149},{346,232}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,1628},{358,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,146},{358,238}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1264},{362,242}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,143},{362,242}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,1264},{362,242}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,143},{362,242}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1666},{372,246}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,142},{372,246}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1414},{382,250}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,139},{382,250}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,870},{392,254}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,137},{392,254}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,870},{392,254}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,137},{392,254}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,870},{396,256}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,136},{396,256}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1152},{402,260}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,134},{402,260}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1434},{412,264}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,132},{412,264}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1434},{412,264}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,132},{412,264}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1434},{416,270}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,130},{416,270}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1706},{420,272}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,129},{420,272}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{424,278}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,125},{424,278}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{424,278}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,125},{424,278}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1148},{430,284}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,122},{430,284}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{434,292}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,117},{434,292}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,850},{438,296}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,115},{438,296}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,850},{438,296}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,115},{438,296}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,848},{442,302}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,111},{442,302}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,558},{448,310}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,107},{448,310}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,546},{450,300}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,118},{450,300}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,546},{450,300}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,118},{450,300}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{458,306}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,115},{458,306}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,546},{462,302}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,112},{462,302}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,276},{470,280}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,138},{470,280}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,276},{470,280}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,138},{470,280}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{474,282}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,137},{474,282}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,280},{482,264}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,136},{482,264}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,276},{492,268}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,134},{492,268}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,276},{492,268}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,134},{492,268}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{494,272}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,132},{494,272}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{502,276}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,131},{502,276}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,280}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,129},{512,280}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,280}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,129},{512,280}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{492,272}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,139},{492,272}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
            <key>PPGL3_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{430,254}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,139},{430,254}}</string>
                <key>sourceSize</key>
                <string>{532,532}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PPGL3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e8d044aa1e5886e943f7162bf132292$</string>
            <key>textureFileName</key>
            <string>PPGL3.png</string>
        </dict>
    </dict>
</plist>
