<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PPGT_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,382},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{370,210}}</string>
                <key>offset</key>
                <string>{8,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,228},{370,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,834},{370,218}}</string>
                <key>offset</key>
                <string>{8,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,221},{370,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{372,238}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,208},{372,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,382},{360,248}}</string>
                <key>offset</key>
                <string>{13,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,201},{360,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,744},{364,262}}</string>
                <key>offset</key>
                <string>{14,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,190},{364,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1110},{364,272}}</string>
                <key>offset</key>
                <string>{12,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,180},{364,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{378,252}}</string>
                <key>offset</key>
                <string>{5,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,180},{378,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,306},{380,258}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,174},{380,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,566},{374,266}}</string>
                <key>offset</key>
                <string>{12,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,166},{374,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1054},{368,274}}</string>
                <key>offset</key>
                <string>{14,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,158},{368,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1074},{366,288}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,144},{366,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1674},{358,294}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,138},{358,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1330},{364,300}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,132},{364,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{382,302}}</string>
                <key>offset</key>
                <string>{15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,130},{382,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,308}}</string>
                <key>offset</key>
                <string>{15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,124},{382,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{374,308}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,124},{374,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1674},{362,308}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,124},{362,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>PPGT_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{362,308}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,124},{362,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PPGL4.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5b99a73d6db4f6af7b6e681f6c7c843$</string>
            <key>textureFileName</key>
            <string>PPGL4.png</string>
        </dict>
    </dict>
</plist>
