<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PPGL09_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,188},{1,1}}</string>
                <key>offset</key>
                <string>{-299.5,519.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,722},{70,140}}</string>
                <key>offset</key>
                <string>{16,209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,241},{70,140}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,790},{110,210}}</string>
                <key>offset</key>
                <string>{19,179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,236},{110,210}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1394},{116,378}}</string>
                <key>offset</key>
                <string>{23,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,178},{116,378}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,902},{168,582}}</string>
                <key>offset</key>
                <string>{16,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,106},{168,582}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1512},{150,612}}</string>
                <key>offset</key>
                <string>{8,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,106},{150,612}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1394},{176,636}}</string>
                <key>offset</key>
                <string>{9,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,110},{176,636}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{158,682}}</string>
                <key>offset</key>
                <string>{14,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,115},{158,682}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{186,688}}</string>
                <key>offset</key>
                <string>{14,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,118},{186,688}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{164,736}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,105},{164,736}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{188,756}}</string>
                <key>offset</key>
                <string>{12,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,103},{188,756}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{166,750}}</string>
                <key>offset</key>
                <string>{16,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,119},{166,750}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{202,786}}</string>
                <key>offset</key>
                <string>{14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,102},{202,786}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{174,776}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,107},{174,776}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,814}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,100},{184,814}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{156,704}}</string>
                <key>offset</key>
                <string>{22,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,159},{156,704}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{138,576}}</string>
                <key>offset</key>
                <string>{31,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,208},{138,576}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
            <key>PPGL09_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,888},{78,576}}</string>
                <key>offset</key>
                <string>{21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,208},{78,576}}</string>
                <key>sourceSize</key>
                <string>{600,1040}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PPGL9.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f5656f59ae5504aad7fd8734370e8e1$</string>
            <key>textureFileName</key>
            <string>PPGL9.png</string>
        </dict>
    </dict>
</plist>
