<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PPGL1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1632},{174,320}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,37},{174,320}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{174,324}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,33},{174,324}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{176,324}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,31},{176,324}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{176,328}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,27},{176,328}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1286},{178,316}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,39},{178,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1608},{178,316}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,39},{178,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{178,316}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,39},{178,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1594},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1276},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,320},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,322},{178,316}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{178,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,642},{180,316}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{180,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,638},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,958},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1604},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,320},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,640},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1662},{178,322}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,33},{178,322}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{178,330}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,25},{178,330}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,318},{178,310}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,45},{178,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,2},{178,314}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,41},{178,314}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,536},{176,314}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,41},{176,314}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,358},{176,314}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,41},{176,314}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,180},{176,314}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,41},{176,314}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1478},{176,310}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1300},{176,310}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,1122},{176,310}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1248},{176,310}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1560},{176,310}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{176,318}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{176,318}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1330},{176,322}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,33},{176,322}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,334},{176,330}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,25},{176,330}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{176,334}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,21},{176,334}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1248},{176,310}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1070},{176,310}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,944},{176,310}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,892},{176,310}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,310}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,714},{176,312}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,312}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,630},{176,312}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,45},{176,312}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,960},{176,316}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,41},{176,316}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,324},{176,320}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{176,320}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,330}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,27},{176,330}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,334}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,23},{176,334}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{176,320}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{176,320}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1006},{176,322}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,35},{176,322}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1630},{176,318}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,318}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,646},{176,318}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,318}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,968},{176,318}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,318}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,646},{176,320}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{176,320}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,988},{176,320}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{176,320}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,324},{176,320}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{176,320}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{176,320}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{176,320}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1310},{176,318}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,39},{176,318}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,666},{176,320}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{176,320}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1310},{174,320}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,37},{174,320}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,966},{172,318}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{172,318}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1288},{172,318}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{172,318}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
            <key>PPGL1_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,322},{172,318}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,39},{172,318}}</string>
                <key>sourceSize</key>
                <string>{358,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PPGL1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e38515afc232a029ca023c7cb21bfb1e$</string>
            <key>textureFileName</key>
            <string>PPGL1.png</string>
        </dict>
    </dict>
</plist>
