<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PPGF_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2023},{1,1}}</string>
                <key>offset</key>
                <string>{-213,213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,702},{71,75}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,154},{71,75}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1190},{105,109}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,138},{105,109}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1333},{123,131}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,130},{123,131}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1186},{145,153}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,119},{145,153}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1385},{163,169}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,107},{163,169}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1196},{187,187}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,98},{187,187}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1190},{199,205}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,90},{199,205}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,1186},{217,221}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,83},{217,221}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,961},{233,237}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,75},{233,237}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,943},{245,249}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,69},{245,249}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,702},{257,261}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,64},{257,261}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,917},{267,279}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,56},{267,279}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,660},{281,287}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,51},{281,287}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,303},{293,299}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,45},{293,299}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,2},{299,309}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,40},{299,309}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,598},{311,317}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,36},{311,317}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,335},{317,323}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,33},{317,323}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{323,331}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,29},{323,331}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,2},{329,339}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,24},{329,339}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,355},{337,345}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{337,345}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{343,351}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,19},{343,351}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,385},{343,359}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,17},{343,359}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,798},{349,365}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{349,365}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1211},{351,369}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,13},{351,369}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1618},{353,371}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,12},{353,371}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1618},{353,379}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{353,379}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{361,381}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{361,381}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,411},{359,385}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{359,385}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,820},{359,389}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{359,389}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1225},{359,391}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{359,391}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1626},{361,395}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{361,395}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{361,399}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{361,399}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{365,403}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{365,403}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{367,407}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{367,407}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
            <key>PPGF_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,407}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{369,407}}</string>
                <key>sourceSize</key>
                <string>{427,427}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PPGL5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d2e6cc3aef4d0f9e3679aa5b002bf1e$</string>
            <key>textureFileName</key>
            <string>PPGL5.png</string>
        </dict>
    </dict>
</plist>
