<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx_077_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2045,311},{1,1}}</string>
                <key>offset</key>
                <string>{-153,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,1431},{103,181}}</string>
                <key>offset</key>
                <string>{102,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,88},{103,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{113,181}}</string>
                <key>offset</key>
                <string>{97,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,88},{113,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1634},{131,183}}</string>
                <key>offset</key>
                <string>{88,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,86},{131,183}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{145,185}}</string>
                <key>offset</key>
                <string>{81,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,84},{145,185}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,311},{159,187}}</string>
                <key>offset</key>
                <string>{74,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,82},{159,187}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1447},{167,193}}</string>
                <key>offset</key>
                <string>{70,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,76},{167,193}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1451},{179,195}}</string>
                <key>offset</key>
                <string>{64,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,74},{179,195}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,781},{183,195}}</string>
                <key>offset</key>
                <string>{62,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,74},{183,195}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1792},{199,197}}</string>
                <key>offset</key>
                <string>{54,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,72},{199,197}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1792},{203,197}}</string>
                <key>offset</key>
                <string>{52,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,72},{203,197}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1792},{209,197}}</string>
                <key>offset</key>
                <string>{49,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,72},{209,197}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1447},{209,197}}</string>
                <key>offset</key>
                <string>{49,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,72},{209,197}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1792},{219,197}}</string>
                <key>offset</key>
                <string>{44,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,72},{219,197}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1792},{225,197}}</string>
                <key>offset</key>
                <string>{41,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,72},{225,197}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{235,199}}</string>
                <key>offset</key>
                <string>{36,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,69},{235,199}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1591},{237,199}}</string>
                <key>offset</key>
                <string>{35,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,69},{237,199}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1431},{245,201}}</string>
                <key>offset</key>
                <string>{31,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,67},{245,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1431},{247,201}}</string>
                <key>offset</key>
                <string>{30,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,67},{247,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1236},{253,201}}</string>
                <key>offset</key>
                <string>{27,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,68},{253,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{257,203}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,66},{257,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1242},{261,203}}</string>
                <key>offset</key>
                <string>{23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,66},{261,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1240},{263,205}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{263,205}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1222},{265,207}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,62},{265,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1742,1380},{267,209}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,60},{267,209}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1035},{269,209}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,60},{269,209}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,966},{271,209}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{271,209}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1033},{275,207}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,62},{275,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1031},{277,207}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{277,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1029},{281,205}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,64},{281,205}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,1226},{279,203}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,66},{279,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1177},{283,201}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{283,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,1023},{283,201}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{283,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{287,201}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,68},{287,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,830},{287,201}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,68},{287,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,824},{285,203}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,66},{285,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,818},{285,203}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,66},{285,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1019},{285,201}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{285,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,828},{287,201}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,68},{287,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,814},{289,203}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,66},{289,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,619},{289,203}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,66},{289,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,623},{291,203}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,66},{291,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,607},{293,205}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,64},{293,205}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{295,207}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{295,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,621},{295,207}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{295,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,414},{295,207}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,62},{295,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,412},{297,207}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,62},{297,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{301,209}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,60},{301,209}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,396},{305,209}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,60},{305,209}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{307,211}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{307,211}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,213}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{307,213}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{307,209}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{307,209}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{307,209}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{307,209}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,2},{307,207}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{307,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,2},{307,205}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{307,205}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,211},{307,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{307,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,209},{307,203}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{307,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,615},{305,201}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,68},{305,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,416},{305,201}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,68},{305,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,213},{307,199}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{307,199}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,414},{307,199}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{307,199}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,215},{307,195}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{307,195}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{307,193}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{307,193}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{307,189}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,79},{307,189}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,472},{307,185}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,79},{307,185}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_077_00072.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,213},{307,181}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,81},{307,181}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vfx_077.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29001e479bb0a549723b2a0df9fb43b$</string>
            <key>textureFileName</key>
            <string>vfx_077.png</string>
        </dict>
    </dict>
</plist>
