<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pusoy_explosion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,318},{41,37}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,105},{41,37}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{77,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,73},{77,79}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,879},{79,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,72},{79,81}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,921},{91,93}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,59},{91,93}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{99,103}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,65},{99,103}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,909},{107,109}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,63},{107,109}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,909},{113,113}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,61},{113,113}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,879},{139,141}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,41},{139,141}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,165},{151,145}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,42},{151,145}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{145,161}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{145,161}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,529},{145,159}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{145,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,718},{147,159}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{147,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,718},{149,159}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{149,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{149,185}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,25},{149,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{151,185}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{151,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,185}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{155,185}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,179},{161,161}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{161,161}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,360},{167,165}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{167,165}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,547},{169,167}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{169,167}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,734},{173,169}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{173,169}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{175,169}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{175,169}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{177,171}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{177,171}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{177,171}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{177,171}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,189},{177,171}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{177,171}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,376},{177,171}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{177,171}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{177,171}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{177,171}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,181},{177,169}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{177,169}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,368},{177,169}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{177,169}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,555},{177,169}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{177,169}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>pusoy_explosion_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{177,153}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{177,153}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,879},{68,138}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,94},{68,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pusoy_explosion.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7d3a474bfdcd0b8dbc9ad8d33e15b7c$</string>
            <key>textureFileName</key>
            <string>pusoy_explosion.png</string>
        </dict>
    </dict>
</plist>
