<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1540},{112,108}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,91},{112,108}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1540},{180,156}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,52},{180,156}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{274,198}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,12},{274,198}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1296},{304,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{304,210}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1328},{332,210}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{332,210}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1358},{330,210}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{330,210}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{336,210}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{336,210}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,944},{350,210}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{350,210}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,588},{354,210}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{354,210}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,762},{358,184}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{358,184}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,574},{362,186}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{362,186}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{362,188}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{362,188}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,384},{364,188}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{364,188}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{364,188}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{364,188}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,194},{366,188}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{366,188}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{366,188}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{366,188}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{366,190}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{366,190}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,190}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{366,190}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,948},{356,190}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{356,190}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{356,190}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{356,190}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1140},{356,186}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{356,186}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{356,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{356,188}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1508},{312,190}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{312,190}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,396},{270,190}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,9},{270,190}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,202},{274,192}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,8},{274,192}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{-194.5,104.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
            <key>exp_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{-194.5,104.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{390,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exp.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a21bcec68a8ca974e2338ede02852a96$</string>
            <key>textureFileName</key>
            <string>exp.png</string>
        </dict>
    </dict>
</plist>
