<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7T1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-199,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-199,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{23,57}}</string>
                <key>offset</key>
                <string>{138,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,9},{23,57}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1707},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1513},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1499},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1491},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1480},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1322},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1286},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1272},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1253},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,418},{399,221}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{399,221}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1095},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1059},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1045},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,572},{311,225}}</string>
                <key>offset</key>
                <string>{44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{311,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{359,185}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{359,185}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1037},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{373,169}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{373,169}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,868},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{361,179}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,46},{361,179}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1549},{383,225}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,641},{399,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,605},{335,225}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{335,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,799},{347,225}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{347,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{351,187}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,38},{351,187}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,386},{347,217}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{347,217}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{369,225}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1740},{329,225}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{329,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,832},{337,225}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{337,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,1026},{349,225}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{349,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1726},{359,225}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{359,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,818},{337,225}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{337,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,591},{329,225}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{329,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,583},{307,225}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{307,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,191},{275,225}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{275,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,299},{271,225}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,0},{271,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{305,225}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{305,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{305,225}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{305,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,1776},{319,225}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{319,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,810},{295,225}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{295,225}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,384},{319,205}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{319,205}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,382},{317,199}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{317,199}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,191},{313,193}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{313,193}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2},{315,187}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,38},{315,187}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,189},{301,191}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{301,191}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{309,189}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{309,189}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,2},{295,189}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{295,189}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,183},{301,191}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{301,191}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,191},{303,191}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{303,191}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
            <key>7T1_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{305,193}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{305,193}}</string>
                <key>sourceSize</key>
                <string>{399,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7TP1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12154333c0c7b01c44b8177286515694$</string>
            <key>textureFileName</key>
            <string>7TP1.png</string>
        </dict>
    </dict>
</plist>
