<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>L006_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,2},{1,1}}</string>
                <key>offset</key>
                <string>{-239.5,239.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,2},{280,20}}</string>
                <key>offset</key>
                <string>{-5,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,328},{280,20}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,752},{304,100}}</string>
                <key>offset</key>
                <string>{2,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,242},{304,100}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,434},{316,128}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,214},{316,128}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1230},{326,146}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,195},{326,146}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{332,158}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,183},{332,158}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1058},{338,172}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,169},{338,172}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1694},{350,196}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,145},{350,196}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1694},{350,200}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,141},{350,200}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1694},{352,204}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,137},{352,204}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,1398},{356,208}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,133},{356,208}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,868},{360,210}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,131},{360,210}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,856},{366,214}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,127},{366,214}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,652},{370,214}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,127},{370,214}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,654},{374,214}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,125},{374,214}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,430},{378,206}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,124},{378,206}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{382,208}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,122},{382,208}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,428},{382,208}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,122},{382,208}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,218},{384,208}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,122},{384,208}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{388,210}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,121},{388,210}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,220},{388,212}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,120},{388,212}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,216},{392,212}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,121},{392,212}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,216},{392,212}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,121},{392,212}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{394,212}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,121},{394,212}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{394,212}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,122},{394,212}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{394,214}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,122},{394,214}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,214}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,122},{394,214}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{392,216}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,121},{392,216}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,638},{374,216}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,122},{374,216}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,434},{376,218}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,122},{376,218}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,638},{378,220}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,122},{378,220}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{378,218}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,124},{378,218}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,430},{378,220}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,123},{378,220}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1230},{356,222}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,130},{356,222}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1756},{360,220}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,142},{360,220}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,868},{360,220}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,143},{360,220}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,868},{360,220}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,145},{360,220}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{360,222}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,145},{360,222}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,868},{360,224}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,145},{360,224}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1398},{362,224}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,146},{362,224}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{360,226}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,146},{360,226}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{362,228}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,145},{362,228}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,870},{362,230}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,145},{362,230}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1490},{362,202}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,145},{362,202}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1310},{362,204}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,145},{362,204}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1282},{362,206}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,145},{362,206}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1102},{362,206}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,146},{362,206}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1072},{362,208}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,146},{362,208}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1398},{362,210}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,145},{362,210}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1398},{362,210}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,146},{362,210}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1516},{332,214}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,146},{332,214}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1762},{226,216}}</string>
                <key>offset</key>
                <string>{27,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,145},{226,216}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>L006_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1762},{226,184}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,146},{226,184}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L006.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28bf9b7b87084e0f491f21a160fdf431$</string>
            <key>textureFileName</key>
            <string>L006.png</string>
        </dict>
    </dict>
</plist>
