<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_yanhua_zs_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1786},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,104},{172,172}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1786},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{256,256}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1442},{342,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{342,342}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1530},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1148},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,766},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,384},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1530},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1148},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,766},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,384},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1530},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1148},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,766},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,384},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,380}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{366,370}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{366,370}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,374},{366,366}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{366,366}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,742},{354,352}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{354,352}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>eff_yanhua_zs_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1098},{342,342}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{342,342}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vfx_45A.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e09a2b95dc00e3d919be599dc5bb8363$</string>
            <key>textureFileName</key>
            <string>vfx_45A.png</string>
        </dict>
    </dict>
</plist>
