<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx_19_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,522},{1,1}}</string>
                <key>offset</key>
                <string>{-306.5,306.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1582},{262,258}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,172},{262,258}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1588},{366,360}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,120},{366,360}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1588},{450,446}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,75},{450,446}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1496},{472,468}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{472,468}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1568},{480,476}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,60},{480,476}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{494,488}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,54},{494,488}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,512},{504,496}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,49},{504,496}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{508,500}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,46},{508,500}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1064},{516,504}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,43},{516,504}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{522,512}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,39},{522,512}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{526,514}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{526,514}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1010},{484,498}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,56},{484,498}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,525},{498,514}}</string>
                <key>offset</key>
                <string>{-37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,51},{498,514}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,532}}</string>
                <key>offset</key>
                <string>{-38,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,46},{512,532}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{516,518}}</string>
                <key>offset</key>
                <string>{-39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,49},{516,518}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1046},{484,520}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,52},{484,520}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_19_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,522},{488,522}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,52},{488,522}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vfx_019.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aa926c02e6bba2e1957c4dc2a988ab3$</string>
            <key>textureFileName</key>
            <string>vfx_019.png</string>
        </dict>
    </dict>
</plist>
