<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx_20_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{500,528}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,51},{500,528}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_20_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,548},{514,534}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,49},{514,534}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_20_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1126},{522,538}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,49},{522,538}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_20_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{534,544}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,48},{534,544}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_20_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,578},{540,546}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,48},{540,546}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_20_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1146},{528,556}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{528,556}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_20_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{536,564}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{536,564}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_20_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{538,566}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,41},{538,566}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_20_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,574}}</string>
                <key>offset</key>
                <string>{-19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{546,574}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vfx_020.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee502e79e482ea2e18b1d3e6ac2272ef$</string>
            <key>textureFileName</key>
            <string>vfx_020.png</string>
        </dict>
    </dict>
</plist>
