<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx_16_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{536,498}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,70},{536,498}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{542,504}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,70},{542,504}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,522},{548,510}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,69},{548,510}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,520},{552,514}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,69},{552,514}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{556,516}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,71},{556,516}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{558,518}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,73},{558,518}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{562,522}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,73},{562,522}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1034},{442,524}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,74},{442,524}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1478},{442,520}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,82},{442,520}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2},{362,522}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,84},{362,522}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_16_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,526},{360,524}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,87},{360,524}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vfx_016.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f457bd8e40e523655eacc8134b49ed59$</string>
            <key>textureFileName</key>
            <string>vfx_016.png</string>
        </dict>
    </dict>
</plist>
