<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx_15_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1064},{116,112}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,246},{116,112}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,950},{116,112}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,246},{116,112}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{246,232}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,188},{246,232}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1736},{306,288}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,161},{306,288}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1384},{350,340}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,138},{350,340}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1384},{374,352}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,132},{374,352}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{396,370}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,123},{396,370}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,960},{418,388}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,116},{418,388}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,950},{434,404}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,108},{434,404}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{448,416}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,104},{448,416}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{470,436}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,94},{470,436}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,940},{474,442}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,91},{474,442}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{482,450}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,87},{482,450}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,490},{490,458}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,83},{490,458}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,440},{498,466}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,79},{498,466}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,484},{508,474}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,76},{508,474}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{516,480}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,74},{516,480}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{522,486}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,72},{522,486}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_15_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{528,492}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,71},{528,492}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vfx_015.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aa23d8f1dff341301b2aed444251c83$</string>
            <key>textureFileName</key>
            <string>vfx_015.png</string>
        </dict>
    </dict>
</plist>
