<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx_024_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,380},{1,1}}</string>
                <key>offset</key>
                <string>{-306.5,306.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,2},{86,82}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,242},{86,82}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1594},{130,120}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,225},{130,120}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,1432},{166,160}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,209},{166,160}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1418},{210,198}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,192},{210,198}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1200},{232,216}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,186},{232,216}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1174},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,179},{256,234}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,896},{276,250}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,174},{276,250}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,890},{308,278}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,159},{308,278}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,890},{316,286}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,158},{316,286}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,896},{332,302}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,150},{332,302}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1300},{344,314}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,144},{344,314}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1612},{358,338}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,138},{358,338}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1656},{374,352}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,135},{374,352}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1208},{402,372}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,133},{402,372}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1656},{412,382}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,130},{412,382}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{422,388}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,129},{422,388}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1256},{430,398}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,125},{430,398}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,888},{438,410}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,121},{438,410}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{448,418}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,121},{448,418}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,460},{454,426}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,120},{454,426}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,454},{460,434}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,121},{460,434}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,452},{470,442}}</string>
                <key>offset</key>
                <string>{-8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,121},{470,442}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{474,448}}</string>
                <key>offset</key>
                <string>{-6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,122},{474,448}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{478,450}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,126},{478,450}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{482,454}}</string>
                <key>offset</key>
                <string>{-5,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,127},{482,454}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{486,456}}</string>
                <key>offset</key>
                <string>{-4,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,131},{486,456}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,376}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,134},{490,376}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_024_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1300},{422,354}}</string>
                <key>offset</key>
                <string>{-35,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,160},{422,354}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vfx_024.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8787f0e095722f7f353ff715c0818e15$</string>
            <key>textureFileName</key>
            <string>vfx_024.png</string>
        </dict>
    </dict>
</plist>
