<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx_007_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,735},{17,75}}</string>
                <key>offset</key>
                <string>{72,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,105},{17,75}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1976},{35,107}}</string>
                <key>offset</key>
                <string>{65,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,113},{35,107}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,2},{125,125}}</string>
                <key>offset</key>
                <string>{28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,113},{125,125}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1864},{187,149}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,100},{187,149}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,211},{193,201}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,58},{193,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,145},{199,205}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,56},{199,205}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{209,207}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,56},{209,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1605},{215,207}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,57},{215,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,472},{221,207}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,58},{221,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1418},{221,217}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,49},{221,217}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1721},{223,223}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{223,223}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,755},{241,227}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,44},{241,227}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,484},{209,231}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{209,231}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1739},{219,235}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,38},{219,235}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,731},{231,231}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{231,231}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1249},{235,201}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,42},{235,201}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{245,213}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,37},{245,213}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,695},{193,219}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{193,219}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,940},{203,221}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{203,221}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1641},{213,221}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,39},{213,221}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1161},{213,217}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,39},{213,217}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,940},{219,219}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,37},{219,219}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,1822},{207,213}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{207,213}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1386},{213,217}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{213,217}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1380},{215,203}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,44},{215,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,1233},{233,197}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,46},{233,197}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1741},{237,205}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,45},{237,205}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{241,203}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,55},{241,203}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{237,215}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,47},{237,215}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1741},{235,229}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,40},{235,229}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,508},{225,245}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{225,245}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,490},{227,239}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,38},{227,239}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{231,243}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{231,243}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,245},{237,231}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,44},{237,231}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1486},{203,235}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{203,235}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,247},{209,241}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{209,241}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,255},{219,245}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{219,245}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{231,249}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,38},{231,249}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{235,251}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,38},{235,251}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{237,241}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{237,241}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,759},{237,245}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,47},{237,245}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,241},{229,223}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,48},{229,223}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1486},{233,217}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,62},{233,217}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1502},{235,227}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,58},{235,227}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1163},{221,189}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,60},{221,189}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1605},{217,199}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,50},{217,199}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1191},{225,207}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,39},{225,207}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1249},{235,209}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,33},{235,209}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,964},{225,225}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,26},{225,225}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,998},{223,233}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{223,233}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{225,237}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,18},{225,237}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1006},{229,241}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{229,241}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{235,247}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{235,247}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,251}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,26},{237,251}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,492},{241,217}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,28},{241,217}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{249,217}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,29},{249,217}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,717},{211,221}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{211,221}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,2},{221,229}}</string>
                <key>offset</key>
                <string>{-17,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{221,229}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,247},{243,199}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,65},{243,199}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1864},{201,147}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,63},{201,147}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,2},{209,141}}</string>
                <key>offset</key>
                <string>{25,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,64},{209,141}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1824},{217,137}}</string>
                <key>offset</key>
                <string>{27,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,64},{217,137}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1980},{221,61}}</string>
                <key>offset</key>
                <string>{29,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,137},{221,61}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1978},{223,53}}</string>
                <key>offset</key>
                <string>{31,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,144},{223,53}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>vfx_007_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,502},{3,3}}</string>
                <key>offset</key>
                <string>{144,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,154},{3,3}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vfx_007.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cad9345659cef5bcd92133e1c49236b$</string>
            <key>textureFileName</key>
            <string>vfx_007.png</string>
        </dict>
    </dict>
</plist>
