<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vfx_21_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{526,576}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,38},{526,576}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_21_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,578}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{530,578}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_21_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{530,530}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{530,530}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
            <key>vfx_21_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,582},{530,514}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,47},{530,514}}</string>
                <key>sourceSize</key>
                <string>{614,614}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vfx_021.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8dcfd0d222b5983f9ab73a5374dfd0c$</string>
            <key>textureFileName</key>
            <string>vfx_021.png</string>
        </dict>
    </dict>
</plist>
