<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhuayu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,570},{103,65}}</string>
                <key>offset</key>
                <string>{99,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,38},{103,65}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,158},{177,77}}</string>
                <key>offset</key>
                <string>{33,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,16},{177,77}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,312},{169,79}}</string>
                <key>offset</key>
                <string>{33,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,13},{169,79}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,393},{161,81}}</string>
                <key>offset</key>
                <string>{33,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,9},{161,81}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{153,105}}</string>
                <key>offset</key>
                <string>{34,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,7},{153,105}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{145,107}}</string>
                <key>offset</key>
                <string>{34,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,3},{145,107}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,465},{103,95}}</string>
                <key>offset</key>
                <string>{49,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,13},{103,95}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,637},{101,85}}</string>
                <key>offset</key>
                <string>{44,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,22},{101,85}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,620},{135,91}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,19},{135,91}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,757},{129,87}}</string>
                <key>offset</key>
                <string>{24,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,17},{129,87}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,748},{129,71}}</string>
                <key>offset</key>
                <string>{26,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,30},{129,71}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,83}}</string>
                <key>offset</key>
                <string>{30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,27},{241,83}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{131,69}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,31},{131,69}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,679},{133,67}}</string>
                <key>offset</key>
                <string>{29,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,31},{133,67}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,612},{139,65}}</string>
                <key>offset</key>
                <string>{28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,31},{139,65}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,549},{149,61}}</string>
                <key>offset</key>
                <string>{26,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,33},{149,61}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{155,61}}</string>
                <key>offset</key>
                <string>{25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,33},{155,61}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{163,81}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,33},{163,81}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,449},{169,75}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,35},{169,75}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,312},{151,69}}</string>
                <key>offset</key>
                <string>{34,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,37},{151,69}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,476},{153,71}}</string>
                <key>offset</key>
                <string>{35,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,31},{153,71}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,724},{89,75}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,26},{89,75}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{233,77}}</string>
                <key>offset</key>
                <string>{31,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,27},{233,77}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,801},{87,81}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,21},{87,81}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,751},{85,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,45},{85,57}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{83,53}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,50},{83,53}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{81,47}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,45},{81,47}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,337},{79,51}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,39},{79,51}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,390},{77,57}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,34},{77,57}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{23,41}}</string>
                <key>offset</key>
                <string>{22,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,29},{23,41}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,45},{15,15}}</string>
                <key>offset</key>
                <string>{19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,24},{15,15}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,81},{225,75}}</string>
                <key>offset</key>
                <string>{31,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,26},{225,75}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{217,75}}</string>
                <key>offset</key>
                <string>{31,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,25},{217,75}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,158},{209,75}}</string>
                <key>offset</key>
                <string>{31,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,23},{209,75}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{201,75}}</string>
                <key>offset</key>
                <string>{32,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,22},{201,75}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,235},{193,75}}</string>
                <key>offset</key>
                <string>{32,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,21},{193,75}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>zhuayu_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{185,75}}</string>
                <key>offset</key>
                <string>{32,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,19},{185,75}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuayu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b9ed57cc14125b225fcc77e1d0d34e5$</string>
            <key>textureFileName</key>
            <string>zhuayu.png</string>
        </dict>
    </dict>
</plist>
