<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>king_cry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,676},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,662},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,572},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,558},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,500},{64,88}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,56},{64,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,246},{74,128}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{74,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{78,154}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,3},{78,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,82},{82,152}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{82,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{76,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,468},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{76,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{76,158}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,166},{78,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,6},{78,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,80},{92,152}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{92,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{92,152}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{92,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{92,142}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{92,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,174},{84,142}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,18},{84,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,766},{84,122}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,24},{84,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,376},{86,122}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{86,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{84,126}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,22},{84,126}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{84,130}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,17},{84,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,454},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,704},{84,122}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{84,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,566},{84,136}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,3},{84,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,260},{102,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,364},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,246},{102,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{102,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>king_cry_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,350},{102,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,10},{102,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>king_cry.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbcf90dbab392fb2dffd359a76ce9f6a$</string>
            <key>textureFileName</key>
            <string>king_cry.png</string>
        </dict>
    </dict>
</plist>
