<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>POP01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3968},{148,66}}</string>
                <key>offset</key>
                <string>{14,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,275},{148,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,3952},{186,138}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,210},{186,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,3172},{198,196}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,158},{198,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2228,3856},{210,212}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,148},{210,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2228,3630},{220,224}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,141},{220,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,3854},{228,234}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,136},{228,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,3854},{238,248}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,128},{238,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2060,3370},{248,258}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,124},{248,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,2582},{260,270}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,118},{260,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2888},{270,282}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,112},{270,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1808},{282,292}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,107},{282,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2582},{294,304}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,101},{294,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2264},{304,316}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,95},{304,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,3704},{316,326}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,90},{316,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,3036},{326,332}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,84},{326,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,1464},{338,342}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,79},{338,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,3564},{350,352}}</string>
                <key>offset</key>
                <string>{-26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,74},{350,352}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,368},{360,362}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,70},{360,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,3426},{338,338}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,100},{338,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2346},{344,346}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,98},{344,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1108},{354,354}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,95},{354,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,2},{364,360}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,94},{364,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1610},{376,358}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,101},{376,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3198},{384,316}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,116},{384,316}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,798},{374,324}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,114},{374,324}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2812},{384,334}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,110},{384,334}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2736},{344,346}}</string>
                <key>offset</key>
                <string>{-15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,104},{344,346}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,3510},{342,294}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,99},{342,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2490,2},{354,302}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,94},{354,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,768},{366,310}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,89},{366,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2426},{380,320}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,82},{380,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{390,330}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,78},{390,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{402,344}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,71},{402,344}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2790},{368,356}}</string>
                <key>offset</key>
                <string>{-30,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,65},{368,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1550},{340,366}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,60},{340,366}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{338,372}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,54},{338,372}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1224},{348,376}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,49},{348,376}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2036},{356,388}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,44},{356,388}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,798},{346,374}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,65},{346,374}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2130,2},{358,360}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,85},{358,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,394},{368,372}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{368,372}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3584},{380,382}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,74},{380,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{390,338}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,69},{390,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{398,348}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,62},{398,348}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2412},{376,358}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,55},{376,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1644},{386,368}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,50},{386,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{396,380}}</string>
                <key>offset</key>
                <string>{-14,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,45},{396,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,422},{404,392}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,39},{404,392}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{412,356}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,82},{412,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,3582},{368,364}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,80},{368,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2032},{378,372}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,79},{378,372}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,3198},{348,382}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,75},{348,382}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1224},{352,384}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,79},{352,384}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,3084},{328,340}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,74},{328,340}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,3160},{312,348}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,70},{312,348}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,3370},{320,332}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,64},{320,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1918},{330,344}}</string>
                <key>offset</key>
                <string>{20,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,59},{330,344}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2098,732},{342,354}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,54},{342,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,742},{350,364}}</string>
                <key>offset</key>
                <string>{22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,50},{350,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,3194},{356,368}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,48},{356,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1978},{366,360}}</string>
                <key>offset</key>
                <string>{24,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,49},{366,360}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1602},{374,358}}</string>
                <key>offset</key>
                <string>{25,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,56},{374,358}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,376},{364,364}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,53},{364,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1174},{374,336}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,84},{374,336}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2426},{384,344}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,80},{384,344}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,3766},{328,326}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,72},{328,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2694},{322,340}}</string>
                <key>offset</key>
                <string>{-6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,65},{322,340}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{2220,364},{334,354}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,58},{334,354}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2366},{344,368}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,51},{344,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00071.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2812},{354,380}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{354,380}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00072.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,402},{366,394}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,38},{366,394}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{378,408}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,33},{378,408}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,418}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{388,418}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,828},{394,376}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,76},{394,376}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1174},{366,330}}</string>
                <key>offset</key>
                <string>{-34,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,129},{366,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>POP01_00077.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1988},{376,338}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,127},{376,338}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WINNER02.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9ca21291f3e6a68e60151c60d7a3d06$</string>
            <key>textureFileName</key>
            <string>WINNER02.png</string>
        </dict>
    </dict>
</plist>
