<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_table_happiness_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{126,24}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,116},{126,24}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{132,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{126,24}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,116},{126,24}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{134,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{134,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{132,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{132,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{126,24}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,116},{126,24}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{134,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{134,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{132,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{132,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{132,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,410},{126,94}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{126,94}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{134,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,410},{126,94}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{126,94}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{134,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{134,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{132,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{132,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,272},{132,136}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,138},{132,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{134,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{134,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,272},{132,136}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,272},{132,136}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_happiness_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,138},{132,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{132,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_table_happiness.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc3e48d264c8ae1f5fdf0cd7dc44a1e$</string>
            <key>textureFileName</key>
            <string>vip_table_happiness.png</string>
        </dict>
    </dict>
</plist>
