<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>football_ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,750},{82,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,55},{82,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,204},{198,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,202},{198,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{198,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{198,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,802},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{198,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,602},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,750},{120,118}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{120,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,602},{146,158}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,18},{146,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,804},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,604},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,402},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,402},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,404},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,402},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,202},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,202},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,602},{196,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{196,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>football_ball_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>football_ball.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:198a8208670368ad38c10e3b82124664$</string>
            <key>textureFileName</key>
            <string>football_ball.png</string>
        </dict>
    </dict>
</plist>
