<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_angry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,640},{132,132}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,136},{118,136}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{118,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{118,136}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{118,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,520},{118,136}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{118,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{126,130}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{126,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{138,116}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{138,116}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{136,120}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{136,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{134,138}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{134,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,388},{132,138}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,270},{132,138}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,138},{132,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,256},{134,130}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{134,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{132,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{132,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,258},{132,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{132,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,254},{132,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{132,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,126},{140,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{140,126}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,124},{132,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{132,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,522},{132,132}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,404},{132,132}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,272},{132,132}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,272},{132,132}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{132,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{144,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{144,120}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{142,122}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{142,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,392},{138,126}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{138,126}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{130,130}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{130,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>yellow_angry_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,270},{122,134}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{122,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow_angry.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a19b0198333a449902701450e342e2d3$</string>
            <key>textureFileName</key>
            <string>yellow_angry.png</string>
        </dict>
    </dict>
</plist>
