<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_table_praying_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,136},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,404},{132,106}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{132,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,404},{132,106}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{132,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,404},{132,106}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{132,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,392},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,392},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,392},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,136},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,274},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,274},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,274},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,262},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,262},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,262},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,136},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,136},{94,34}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,106},{94,34}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,136},{94,34}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,106},{94,34}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,132},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,132},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,132},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,132},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{128,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{128,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,630},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,136},{94,34}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,106},{94,34}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,630},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,630},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,522},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,522},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,522},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,512},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{132,82}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{132,82}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,512},{128,116}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{128,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,136},{12,14}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,75},{12,14}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,136},{12,14}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,75},{12,14}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,136},{12,14}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,75},{12,14}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,136},{12,14}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,75},{12,14}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{132,82}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{132,82}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_praying_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{132,82}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{132,82}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_table_praying.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20cfe51c73cc95b8428273d590218410$</string>
            <key>textureFileName</key>
            <string>vip_table_praying.png</string>
        </dict>
    </dict>
</plist>
