<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_table_spectator_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{20,30}}</string>
                <key>offset</key>
                <string>{52,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,40},{20,30}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,416},{36,46}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,27},{36,46}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,416},{56,64}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{56,64}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,416},{56,64}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{56,64}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,346},{68,72}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{68,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,346},{68,72}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{68,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,346},{68,72}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{68,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,234},{80,110}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{80,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,234},{80,110}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{80,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,120},{88,112}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{88,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,120},{88,112}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{88,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{20,30}}</string>
                <key>offset</key>
                <string>{52,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,40},{20,30}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,120},{88,112}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{88,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{88,116}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{88,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{88,116}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{88,116}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,404},{98,128}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{98,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,404},{98,128}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{98,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,404},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,404},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,404},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,346},{20,30}}</string>
                <key>offset</key>
                <string>{52,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,40},{20,30}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,464},{32,40}}</string>
                <key>offset</key>
                <string>{35,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,34},{32,40}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,464},{32,40}}</string>
                <key>offset</key>
                <string>{35,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,34},{32,40}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,474},{42,58}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,22},{42,58}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,136},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,136},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,136},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,136},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,136},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,474},{42,58}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,22},{42,58}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,138}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,138}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,474},{42,58}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,22},{42,58}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_spectator_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,416},{36,46}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,27},{36,46}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_table_spectator.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5f1673b917890e9bcc7501469f2695b$</string>
            <key>textureFileName</key>
            <string>vip_table_spectator.png</string>
        </dict>
    </dict>
</plist>
