<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_table_greeting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,516},{134,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{134,100}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,412},{136,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{136,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,412},{136,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{136,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,394},{136,106}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{136,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,394},{136,106}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{136,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,394},{136,106}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{136,106}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,280},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{138,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,280},{138,112}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{138,112}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{134,120}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{134,120}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{134,120}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{134,120}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{134,120}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{136,120}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{136,120}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{136,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{136,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{136,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{136,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{136,102}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{136,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,278},{138,132}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,278},{138,132}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,132}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,502},{134,128}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{134,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,502},{134,128}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{134,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,502},{134,128}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{134,128}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{138,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,142},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,142},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,142},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,54},{36,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{36,26}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,140},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,140},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,54},{36,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{36,26}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{136,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{70,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{70,50}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{70,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{70,50}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{70,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{70,50}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_greeting_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,516},{134,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{134,100}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_table_greeting.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0bf50d394984be8e66a2f9465ca8c3$</string>
            <key>textureFileName</key>
            <string>vip_table_greeting.png</string>
        </dict>
    </dict>
</plist>
