<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_table_courting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,144},{120,96}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,40},{120,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,144},{120,96}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,40},{120,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,144},{120,96}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,40},{120,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,144},{120,96}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,40},{120,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{122,92}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,35},{122,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{122,92}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,35},{122,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{122,92}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,35},{122,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{122,92}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,35},{122,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,84}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{128,84}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,84}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{128,84}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,84}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{128,84}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{128,84}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,25},{128,84}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{108,110}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{108,110}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{108,110}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{108,110}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{100,104}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{100,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{100,104}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{100,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{100,104}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{100,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{100,104}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,5},{100,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,266},{114,104}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{114,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,266},{114,104}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{114,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,266},{114,104}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{114,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,266},{114,104}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{114,104}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,382},{114,96}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,382},{114,96}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,382},{114,96}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,382},{114,96}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{114,96}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{86,110}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{86,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{86,110}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{86,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{86,110}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{86,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{86,110}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{86,110}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{92,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{92,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{92,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,140}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{92,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,206},{86,74}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{86,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,206},{86,74}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{86,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,206},{86,74}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{86,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,206},{86,74}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{86,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,108},{96,92}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{96,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,108},{96,92}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{96,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,108},{96,92}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{96,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,108},{96,92}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{96,92}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,266},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,266},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,266},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,266},{1,1}}</string>
                <key>offset</key>
                <string>{-69.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,294},{76,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{76,74}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>vip_table_courting_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,372},{66,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{66,62}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_table_courting.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48ce90f1143627d7111fddceb3464561$</string>
            <key>textureFileName</key>
            <string>vip_table_courting.png</string>
        </dict>
    </dict>
</plist>
