<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>vip_table_disagreement_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,320},{66,98}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,46},{66,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,676},{152,156}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{152,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,676},{152,156}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{152,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{146,160}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{146,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{146,160}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{146,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{146,160}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{146,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{146,160}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{146,160}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{158,162}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{158,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{158,162}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{158,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{158,162}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{158,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,320},{66,98}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,46},{66,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{168,178}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{168,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{168,178}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{168,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{168,178}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{168,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,508},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,508},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,508},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,508},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,320},{66,98}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,46},{66,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,340},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,340},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,340},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{166,178}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,172},{166,178}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,172},{166,178}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,320},{66,98}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,46},{66,98}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,172},{166,178}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{166,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,164},{1,1}}</string>
                <key>offset</key>
                <string>{-89.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,164},{1,1}}</string>
                <key>offset</key>
                <string>{-89.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,164},{1,1}}</string>
                <key>offset</key>
                <string>{-89.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,164},{144,154}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{144,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,164},{144,154}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{144,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,164},{144,154}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{144,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,676},{152,156}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{152,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>vip_table_disagreement_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,676},{152,156}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{152,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip_table_disagreement.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5dde5945a1c35e5a5c570d3c274d8b8$</string>
            <key>textureFileName</key>
            <string>vip_table_disagreement.png</string>
        </dict>
    </dict>
</plist>
